<div class="row align-middle">
  <div class="column">
    <h1>Current Change Order</h1>
  </div>
  <% if can?(:destroy, current_change_order) %>
      <div class="shrink column">
        <%= link_to(
                change_order_path(current_change_order),
                class: 'button alert',
                method: :delete
            ) do %>
            <span class="fa fa-fire mr-base"></span>Delete Current Order
        <% end %>
      </div>
  <% end %>
</div>

<%= link_to(
      'View submitted change orders',
      submitted_change_orders_path(
        venue_id: current_venue.id
      ),
      class: 'button mb-md'
    ) %>

  <%= bootstrap_form_for(
          :change_order,
          url: change_orders_path,
          id: 'current-change-order-form',
          method: 'get',
          html: { class: ''}
      )  do |form| %>
      <%= form.select(
              :venue_id,
              options_for_select(
                  accessible_venues.map do |venue|
                    [venue.name, venue.id]
                  end,
                  current_venue.id
              ),
              {},
              id: 'current-change-order-venue-select'
          ) %>
  <% end %>


<% if current_change_order.persisted? %>
  <p>Last Updated at: <%= current_change_order.updated_at.to_s(:human) %></p>
<% else %>
  <p>No change order is currently pending for this venue</p>
<% end %>

<%= render partial: 'shared/change_order_form', locals: {
      change_order: current_change_order,
      url: update_current_change_orders_path(
        venue_id: current_change_order.venue.id
      ),
      action_text: current_change_order.persisted? ? 'Update' : 'Create'
    } %>
