<h1>Current Change Order</h1>

<%= bootstrap_form_for(
      :change_order,
      url: change_orders_path,
      id: 'current-change-order-form',
      method: 'get'
    )  do |form| %>
  <%= form.select(
        :venue_id,
        options_for_select(
          accessible_venues.map do |venue|
            [venue.name, venue.id]
          end,
          current_venue.id
        ),
        {},
        id: 'current-change-order-venue-select'
      ) %>
<% end %>

<% if current_change_order.submission_deadline_past? %>
  <p>Submitted at: <%= current_change_order.submission_deadline.time.to_s(:human) %></p>

  <ul class="list-unstyled">
    <li>Five Pound Notes: <%= current_change_order.five_pound_notes %></li>
    <li>One Pound Coins: <%= current_change_order.one_pound_coins %></li>
    <li>Fifty Pence Coins: <%= current_change_order.fifty_pence_coins %></li>
    <li>Twenty Pence Coins: <%= current_change_order.twenty_pence_coins %></li>
    <li>Ten Pence Coins: <%= current_change_order.ten_pence_coins %></li>
    <li>Five Pence Coins: <%= current_change_order.five_pence_coins %></li>
  <ul>
<% else %>
  <p>Submission Deadline: <%= current_change_order.submission_deadline.time.to_s(:human) %></p>

  <%= render partial: 'form', locals: { change_order: current_change_order } %>
<% end %>
