<div>
  <div class="pull-right">
    <%= link_to(
          'View current order',
          change_orders_path(venue_id: venue.id),
          class: 'btn btn-success'
        ) %>
  </div>

  <h1>Previously submitted Change Orders for <%= venue.name %></h1>
</div>

<% if change_orders.count > 0 %>
  <ul class="list-unstyled">
    <% change_orders.each do |change_order| %>
      <li>
        <b>Submitted <%= change_order.submission_deadline.to_s(:human) %></b>
        <table class="table">
          <thead>
            <th>Five Pound Notes</th>
            <th>One Pound Coins</th>
            <th>Fifty Pence Coins</th>
            <th>Twenty Pence Coins</th>
            <th>Ten Pence Coins</th>
            <th>Five Pence Coins</th>
          </thead>
          <tbody>
            <td><%= change_order.five_pound_notes %></td>
            <td><%= change_order.one_pound_coins %></td>
            <td><%= change_order.fifty_pence_coins %></td>
            <td><%= change_order.twenty_pence_coins %></td>
            <td><%= change_order.ten_pence_coins %></td>
            <td><%= change_order.five_pence_coins %></td>
          </tbody>
        </table>
      </li>
    <% end %>
  </ul>

  <%= render partial: 'shared/pagination_control', locals: { relation: change_orders } %>
<% else %>
  <p>No previously submitted change orders exist</p>
<% end %>
