<div>
  <div class="pull-right">
    <%= link_to(
          'View current order',
          change_orders_path(venue_id: venue.id),
          class: 'btn btn-success'
        ) %>
  </div>

  <h1>Previously submitted Change Orders for <%= venue.name %></h1>
</div>

<% if change_orders.count > 0 %>
  <ul class="list-unstyled">
    <% change_orders.each do |change_order| %>
      <li>
        <p><b>Status: <%= change_order.current_state.titlecase %></b></p>
        <% if change_order.accepted? %>
          <p>
            <b>Accepted at <%= change_order.accepted_at.to_s(:human) %> by <%= change_order.accepted_user.full_name %></b>
          </p>
        <% end %>
        <% if change_order.done? %>
          <p><b>Marked Done at <%= change_order.done_at.to_s(:human) %> by <%= change_order.done_user.full_name %></b></p>
        <% end %>
        <%= render partial: 'shared/change_order_table', locals: { change_order: change_order } %>
      </li>
    <% end %>
  </ul>

  <%= render partial: 'shared/pagination_control', locals: { relation: change_orders } %>
<% else %>
  <p>No previously submitted change orders exist</p>
<% end %>
