<div id="holiday-report-show-page" class="container">
  <h1>Holiday Reports</h1>

  <%= react_component("HolidayReportApp") %>
</div>

<%= javascript_tag do %>
  var holidays = <%= raw render partial: 'api/v1/shared/holidays.json', locals: { holidays: holidays } %>;

  var staffMembers = <%= raw render partial: 'api/v1/shared/staff_members.json', locals: { staff_members: staff_members } %>;

  var venues = <%= raw render partial: 'api/v1/shared/venues.json', locals: { venues: Venue.all } %>;

  var accessibleVenueIds = <%= accessible_venues.map(&:id) %>;

  var staffTypes = <%= raw render partial: 'api/v1/shared/staff_types.json', locals: { staff_types: staff_types } %>;

  window.boss = window.boss || {};
  window.boss.holidays = holidays;
  window.boss.staffMembers = staffMembers;
  window.boss.venues = venues;
  window.boss.staffTypes = staffTypes;
  window.boss.access_token = "<%= access_token.token %>";

  window.boss.pageData = {
    accessibleVenueIds: accessibleVenueIds,
    venueId: <%= filter_venue.try(:id) || 'null' %>,
    weekStartDate: "<%= week.start_date.iso8601 %>",
    weekEndDate: "<%= week.end_date.iso8601 %>",
    displayCsvLink: <%= can?(:view, :holidays_csv).to_s %>
  }
<% end %>
