<div class="page-header">
  <h1><%= venue.name %> Rotas <small><%= start_date.to_s(:human_date) %> - <%= end_date.to_s(:human_date) %></small></h1>
</div>

<%= javascript_tag do %>
  var rotas = [];
  var venues;

  <% rotas.each do |rota| %>
    rotas.push(<%= raw render partial: 'api/v1/shared/rota_overview.json', locals: { rota: rota, staff_types: staff_types } %>);
  <% end %>
  venues = <%= raw render partial: 'api/v1/shared/venues.json', locals: { venues: accessible_venues } %>;
  rotaForecasts = <%= raw render partial: 'api/v1/shared/rota_forecasts.json', locals: { rota_forecasts: rota_forecasts } %>;

  window.boss = window.boss || {};
  window.boss.rotas = rotas;
  window.boss.venues = venues;
  window.boss.rotaForecasts = rotaForecasts;

  window.boss.weeklyRotaForecast = {
    "id": Math.floor(Math.random() * 10000000),
    "url": "",
    "rota": {
      "id": null,
      "url": null
    },
    "forecasted_take": 900000.00,
    "total": 80000.00,
    "total_percentage": 20.0,
    "staff_total": 70000.00,
    "staff_total_percentage": 10.0,
    "pr_total": 11000.00,
    "pr_total_percentage": 5.0,
    "security_total": 2500.00,
    "security_total_percentage": 2.5,
    "kitchen_total": 2500.00,
    "kitchen_total_percentage": 2.5
  }
<% end %>

<%= react_component('RotaOverviewApp') %>
