<div class="page-header">
  <h1><%= venue.name %> Rotas <small><%= start_date.to_s(:human_date) %> - <%= end_date.to_s(:human_date) %></small></h1>
</div>

<%= javascript_tag do %>
  var rotas = [];
  var venues;

  <% rotas.each do |rota| %>
    rotas.push(<%= raw render partial: 'api/v1/shared/rota_overview.json', locals: { rota: rota, staff_types: staff_types } %>);
  <% end %>
  venues = <%= raw render partial: 'api/v1/shared/venues.json', locals: { venues: accessible_venues } %>;
  rotaForecasts = <%= raw render partial: 'api/v1/shared/rota_forecasts.json', locals: { rota_forecasts: rota_forecasts } %>;

  window.boss = window.boss || {};
  window.boss.rotas = rotas;
  window.boss.venues = venues;
  window.boss.rotaForecasts = rotaForecasts;

  window.boss.weeklyRotaForecast = <%= raw render partial: 'api/v1/shared/weekly_rota_forecast.json', locals: { weekly_forecast: weekly_rota_forecast } %>;

  window.boss.startDate = "<%= start_date.iso8601 %>";
  window.boss.endDate = "<%= end_date.iso8601 %>";
<% end %>

<%= react_component('RotaOverviewApp') %>
