<link href="/jquery-ui/jquery.ui.datepicker.css" rel="stylesheet"></link>
<link href="/jquery-ui/jquery-ui.css" rel="stylesheet"></link>


<div class="page-header">
  <h1><%= venue.name %> Rotas <small><%= start_date.to_s(:human_date) %> - <%= end_date.to_s(:human_date) %></small></h1>
</div>

<%= javascript_tag do %>
  var rotas = [];
  var venues;

  <% rotas.each do |rota| %>
    rotas.push(<%= raw render partial: 'api/v1/shared/rota_overview.json', locals: { rota: rota, staff_types: staff_types } %>);
  <% end %>
  venues = <%= raw render partial: 'api/v1/shared/venues.json', locals: { venues: accessible_venues } %>;

  window.boss = window.boss || {};
  window.boss.rotas = rotas;
  window.boss.venues = venues;
<% end %>

<%= react_component('RotaOverviewApp') %>
