<div class="boss-page-main__dashboard">
  <div class="boss-page-main__inner">
    <!-- Page dashboard start -->
    <div class="boss-page-dashboard boss-page-dashboard_updated">
      <h1 class="boss-page-dashboard__title">Safe Check</h1>

      <div class="boss-page-dashboard__group">

        <div class="boss-page-dashboard__controls-group">
          <!-- Form start -->
          <form action="#" class="boss-form">
            <div class="boss-form__field">
              <div class="boss-form__select boss-form__select_size_small-fluid">
              </div>
            </div>
          </form>
          <!-- Form end -->
        </div>
        <div class="boss-page-dashboard__buttons-group boss-page-dashboard__buttons-group_position_last">
          <%= link_to(new_safe_check_path(venue_id: current_venue.id), class: 'boss-button boss-button_role_add boss-page-dashboard__button') do %>
            Add New
          <% end %>
        </div>
      </div>
    </div>
    <!-- Page dashboard end -->
  </div>
</div>

<div class="boss-page-main__content">
  <div class="boss-page-main__inner">
    <div class="boss-page-main__group boss-page-main__group_adjust_sc-table">
      <!-- Common table start -->
      <div class="boss-table boss-table_page_safe-checks-index">
        <div class="boss-table__row">
          <div class="boss-table__cell boss-table__cell_role_header">Variance</div>
          <div class="boss-table__cell boss-table__cell_role_header">Info</div>
          <div class="boss-table__cell boss-table__cell_role_header">Total</div>
          <div class="boss-table__cell boss-table__cell_role_header">Out to Order</div>
          <div class="boss-table__cell boss-table__cell_role_header">Safe Float</div>
          <div class="boss-table__cell boss-table__cell_role_header">Till Float</div>
          <div class="boss-table__cell boss-table__cell_role_header">Total Float</div>
          <div class="boss-table__cell boss-table__cell_role_header">£ (Notes &amp; Coins)</div>
        </div>

        <% safe_checks.each_with_index do |safe_check, index| %>
          <div class="boss-table__row <%= (negative?(safe_check.variance_cents) ? 'boss-table__row_state_alert' : 'boss-table__row_state_success') %>">
            <div class="boss-table__cell <%= (negative?(safe_check.variance_cents) ? 'boss-table__cell_state_alert' : 'boss-table__cell_state_success') %>">
              <div class="boss-table__info">
                <p class="boss-table__label <%= (negative?(safe_check.variance_cents) ? 'boss-table__label_state_alert' : '') %>">Variance</p>
                <p class="boss-table__text <%= (negative?(safe_check.variance_cents) ? 'boss-table__text_state_alert' : 'boss-form__text-success') %>">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:variance_cents),
                    unit: '£',
                    precision: 2
                  ).gsub("-", "\u2011") %>
                </p>
              </div>
            </div>

            <div class="boss-table__cell">
              <div class="boss-table__info">
                <p class="boss-table__label">Info</p>

                <div class="boss-table__stats">
                  <div class="boss-stats boss-stats_adjust_table">
                    <p class="boss-stats__text <%= positive?(safe_check.enabled_notes.count) ? 'boss-stats__text_indicator_att' : '' %>">
                      <span><%= safe_check.checked_by_note %></span>
                    </p>

                    <div class="boss-stats__meta">
                      <p class="boss-stats__label">
                        <span><%= safe_check.created_at.strftime(date_format) %></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="boss-table__cell">
              <div class="boss-table__info">
                <p class="boss-table__label">Total</p>
                <p class="boss-table__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:total_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>

            <div class="boss-table__cell">
              <div class="boss-table__info">
                <p class="boss-table__label">Out to Order</p>
                <p class="boss-table__text">
                  <%= number_to_currency(
                    (safe_check.total_out_to_order_cents || 0.0) / 100,
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
              <% if safe_check.ash_cash_cents > 0 %>
                <div class="boss-corner boss-corner_position_top-right boss-corner_color_accent-green">
                  <p class="boss-corner__label boss-corner__label_size_l">ASH</p>
                </div>
              <% end %>

              <% if safe_check.security_plus_cents > 0 %>
                <div class="boss-corner boss-corner_position_bottom-right boss-corner_color_accent-purple">
                    <p class="boss-corner__label boss-corner__label_size_l">S+</p>
                </div>
              <% end %>

            </div>

            <div class="boss-table__cell">
              <div class="boss-table__info">
                <p class="boss-table__label">Safe Float</p>
                <p class="boss-table__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:safe_float_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>

            <div class="boss-table__cell">
              <div class="boss-table__info">
                <p class="boss-table__label">Till Float</p>
                <p class="boss-table__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:till_float_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>

            <div class="boss-table__cell">
              <div class="boss-table__info">
                <p class="boss-table__label">Total Float</p>
                <p class="boss-table__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:total_float_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>

            <div class="boss-table__cell">
              <div class="boss-table__info">
                <p class="boss-table__label">Actions</p>
                <div class="boss-table__actions">
                  <a href="#" class="boss-button boss-button_type_small boss-button_role_coins boss-table__action" data-modal-id="<%= index %>">View Details</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Common table end -->
      </div>

      <% safe_checks.each_with_index do |safe_check, index| %>
        <div data-safe-check class="boss-check boss-check_role_board boss-check_page_safe-checks-index <%= negative?(safe_check.variance_cents) ? 'boss-check_state_alert' : 'boss-check_state_success' %>">
          <div class="boss-check__row boss-check__row_role_header">
            <div class="boss-check__cell boss-check__cell_size_half <%= negative?(safe_check.variance_cents) ? 'boss-check__cell_state_alert' : 'boss-check__cell_state_success' %>">
              <p class="boss-check__text boss-check__text_marked <%= negative?(safe_check.variance_cents) ? 'boss-check__text_state_alert' : '' %>">
                <%= number_to_currency(
                  safe_check.pound_value_for(:variance_cents),
                  unit: '£',
                  precision: 2
                ).gsub("-", "\u2011") %>
              </p>
            </div>

            <div class="boss-check__cell boss-check__cell_size_half">
              <p class="boss-check__text boss-check__text_role_date">
                <span><%= safe_check.created_at.strftime(date_format) %></span>
              </p>
            </div>
          </div>

          <div class="boss-check__row">
            <div class="boss-check__cell">
              <p class="boss-check__text boss-check__text_role_user <%= positive?(safe_check.enabled_notes.count) && 'boss-check__text_indicator_att' %>"><%= safe_check.checked_by_note %></p>
            </div>
          </div>

          <div class="boss-check__row boss-check__row_role_control">
            <div class="boss-check__cell boss-check__cell_no-border">
              <a href="#" class="boss-button boss-button_type_small boss-button_role_coins boss-table__action" data-modal-id="<%= index %>">View Details</a>
            </div>

            <div class="boss-check__cell">
              <a href="#" class="boss-check__dropdown-link boss-check__dropdown-link_state_closed">See Totals</a>
            </div>
          </div>

          <div class="boss-check__dropdown boss-check__dropdown_state_closed">
            <div class="boss-check__row boss-check__row_role_table">
              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text boss-check__text_marked">Total</p>
              </div>

              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:total_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>

            <div class="boss-check__row boss-check__row_role_table">
              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text boss-check__text_marked">Out to Order</p>
              </div>

              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text">
                  <%= number_to_currency(
                    (safe_check.total_out_to_order_cents || 0.0) / 100,
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
                <p class="boss-check__text">
                  <% if safe_check.ash_cash_cents > 0 %>
                    <span class="boss-button boss-button_type_ultra-small boss-button_color_accent-green boss-button_type_no-behavior boss-check__label">ASH</span>
                  <% end %>
                  <% if safe_check.security_plus_cents > 0 %>
                  <span class="boss-button boss-button_type_ultra-small boss-button_color_accent-purple boss-button_type_no-behavior boss-check__label">S+</span>
                  <% end %>
                </p>
              </div>
            </div>

            <div class="boss-check__row boss-check__row_role_table">
              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text boss-check__text_marked">Safe Float</p>
              </div>

              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:safe_float_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>

            <div class="boss-check__row boss-check__row_role_table">
              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text boss-check__text_marked">Till Float</p>
              </div>

              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:till_float_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>

            <div class="boss-check__row boss-check__row_role_table">
              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text boss-check__text_marked">Total Float</p>
              </div>

              <div class="boss-check__cell boss-check__cell_role_table">
                <p class="boss-check__text">
                  <%= number_to_currency(
                    safe_check.pound_value_for(:total_float_cents),
                    unit: '£',
                    precision: 2
                  ) %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Paginator start -->
    <%= will_paginate safe_checks, renderer: CustomPaginationLinkRenderer %>
    <!-- Paginator end -->
  </div>
</div>

<% safe_checks.each_with_index do |safe_check, index| %>
  <%= react_component(
    'DetailsModal',
    {
      modal_id: index,
      created_at: safe_check.created_at.strftime(date_format),
      checked_by: safe_check.checked_by_note,
      notes: safe_check.enabled_notes,
      safe_check: safe_check,
      costs: notes_and_coins(safe_check),
      variance_cents: safe_check.variance_cents,
      variance_cents_text: number_to_currency(safe_check.pound_value_for(:variance_cents), unit: '£', precision: 2).gsub("-", "\u2011")
    },
    { class: 'react-modal' }
  ) %>
<% end %>
<script>
  $('.boss-check[data-safe-check]').each(function() {
    var panelDropdownIcon = $(this).find('.boss-check__dropdown-link'),
        panelDropdown = $(this).find('.boss-check__dropdown'),
        panelStatusLabel = $(this).find('.boss-check__cell_role_status-label');

    function togglePanelDropdown(e) {
      e.preventDefault();
      panelDropdownIcon.toggleClass('boss-check__dropdown-link_state_closed');
      panelDropdown.slideToggle().toggleClass('boss-check__dropdown_state_closed');
      panelStatusLabel.toggleClass('boss-check__cell_adjust_single-row');
    }

    panelDropdownIcon.on('click', togglePanelDropdown);
  });
</script>
