<div class="boss-page-main__dashboard">
  <div class="boss-page-main__inner">
    <div class="boss-page-dashboard boss-page-dashboard_updated">
      <h1 class="boss-page-dashboard__title">Safe Check</h1>

      <div class="boss-page-dashboard__group">
        <div class="boss-page-dashboard__sub-group">
          <div class="boss-page-dashboard__controls-group">
            <form action="#" class="boss-form">
              <div class="boss-form__field">
                <div class="boss-form__select boss-form__select_size_small-fluid">
                  <%= react_component(
                    'VenueFinder',
                    selected_venue: current_venue,
                    venues: accessible_venues
                  ) %>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="boss-page-dashboard__buttons-group boss-page-dashboard__buttons-group_position_last">
          <%= link_to(
            'Cancel',
            safe_checks_path(
              venue_id: current_venue.id
            ),
            class: 'boss-button boss-button_role_cancel boss-page-dashboard__button'
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="boss-page-main__content">
  <div class="boss-page-main__inner">
      <div class="boss-page-main__group boss-page-main__group_adjust_sc-form">
          <%= form_for(safe_check, url: safe_checks_path, method: 'post') do |form| %>
              <div class="boss-form__field">
                  <label class="boss-form__label">
                      <span class="boss-form__label-text boss-form__label-text_type_required">Checked by</span>
                      <%= form.text_field(:checked_by_note, label: 'Checked By', class: 'boss-form__input') %>
                  </label>
              </div>

              <%= form.hidden_field(:venue_id) %>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£50 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£50-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :fifty_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:fifty_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:fifty_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£20 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£20-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :twenty_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:twenty_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:twenty_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£10 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£10-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :ten_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:ten_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:ten_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£5 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£5-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :five_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:five_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:five_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£2 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£2-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :two_pound_coins_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:two_pound_coins_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:two_pound_coins_pounds),
                                step: 0.0,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£1 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£1-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :one_pound_coins_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:one_pound_coins_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:one_pound_coins_pounds),
                                step: 0.0,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">50p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="50p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :fifty_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:fifty_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:fifty_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">20p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="20p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :twenty_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:twenty_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:twenty_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">10p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="10p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :ten_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:ten_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:ten_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">5p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="5p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :five_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:five_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:five_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Coppers</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="coppers" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :coppers_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:coppers_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:coppers_cents),
                                step: 0.01,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Other</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="other" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :other_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:other_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:other_cents),
                                step: 0.01,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Payouts</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="payouts" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :payouts_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:payouts_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:payouts_cents),
                                step: 0.01,
                                class: ['boss-form__input']
                              ) %>
                          </span>
                      </label>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Out to Order</span>
                          <span class="boss-form__units">
                            <span class="boss-form__units-value">£</span>
                            <!-- <input name="out-to-order" type="text" class="boss-form__input" placeholder="0"> -->
                            <%= form.number_field(
                              :out_to_order_cents,
                              prepend: '£',
                              value: safe_check.pound_value_for(:out_to_order_cents).to_int_if_whole,
                              label: SafeCheck.label_for(:out_to_order_cents),
                              step: 0.01,
                              class: ['boss-form__input']
                            ) %>
                          </span>
                      </label>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <p class="boss-form__label"><span class="boss-form__label-text">Total</span></p>
                      <p class="boss-form__value">
                        <% if safe_check.total_cents.present? %>
                          <%= number_to_currency(
                            safe_check.total_cents / 100.0,
                            unit: '£',
                            precision: 2
                          ) %>
                        <% else %>
                          -
                        <% end %>
                      </p>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <p class="boss-form__label"><span class="boss-form__label-text">Safe Float</span></p>
                      <p class="boss-form__value">
                        <%= number_to_currency(
                          safe_check.pound_value_for(:safe_float_cents).to_int_if_whole,
                          unit: '£',
                          precision: 2
                        ) %>
                      </p>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <p class="boss-form__label"><span class="boss-form__label-text">Total Float</span></p>
                      <p class="boss-form__value">
                        <%= number_to_currency(
                          safe_check.pound_value_for(:total_float_cents).to_int_if_whole,
                          unit: '£',
                          precision: 2
                        ) %>
                      </p>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <p class="boss-form__label"><span class="boss-form__label-text">Till Float</span></p>
                      <p class="boss-form__value">
                        <%= number_to_currency(
                          safe_check.pound_value_for(:till_float_cents).to_int_if_whole,
                          unit: '£',
                          precision: 2
                        ) %>
                      </p>
                  </div>
              </div>

              <div class="boss-form__field">
                  <p class="boss-form__label"><span class="boss-form__label-text">Variance</span></p>
                  <p class="boss-form__value boss-form__value_state_alert">
                    <% if safe_check.variance_cents.present? %>
                      <%= number_to_currency(
                        safe_check.variance_cents / 100.0,
                        unit: '£',
                        precision: 2
                      ) %>
                    <% else %>
                      -
                    <% end %>
                  </p>
              </div>

              <%= form.fields_for(safe_check_note) do |fields| %>
                <div class="boss-form__field">
                  <p class="boss-form__label"><span class="boss-form__label-text boss-form__label-text_type_optional">Note</span></p>
                  <%= fields.text_area(:note_text, label: 'Note', label_class: 'force-not-required', class: 'boss-form__textarea boss-form__textarea_type_transparent') %>
                </div>
              <% end %>

              <div class="boss-form__field boss-form__field_justify_mobile-center">
                <%= form.submit('Add new', class: 'boss-button boss-button_role_add boss-form__submit') %>
              </div>
          <% end %>
      </div>
  </div>
</div>
