<div class="boss-page-main__dashboard">
  <div class="boss-page-main__inner">
    <div class="boss-page-dashboard boss-page-dashboard_updated">
      <h1 class="boss-page-dashboard__title">Safe Check</h1>

      <div class="boss-page-dashboard__group">
        <div class="boss-page-dashboard__sub-group">
          <div class="boss-page-dashboard__controls-group">
            <form action="#" class="boss-form">
              <div class="boss-form__field">
                <div class="boss-form__select boss-form__select_size_small-fluid">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="boss-page-dashboard__buttons-group boss-page-dashboard__buttons-group_position_last">
          <%= link_to(
            'Cancel',
            safe_checks_path(
              venue_id: current_venue.id
            ),
            class: 'boss-button boss-button_role_cancel boss-page-dashboard__button'
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="boss-page-main__content">
  <div class="boss-page-main__inner">
      <div class="boss-page-main__group boss-page-main__group_adjust_sc-form">
          <%= form_for(safe_check, url: safe_checks_path, method: 'post') do |form| %>
              <% if safe_check.errors[:base].present? %>
                <div class="boss-form__error">
                  <p class="boss-form__error-text">
                    <span class="boss-form__error-line">
                      <%= safe_check.errors[:base].to_sentence %>
                    </span>
                  </p>
                </div>
              <% end %>

              <div class="boss-form__field">
                <label class="boss-form__label">
                    <span class="boss-form__label-text boss-form__label-text_type_required">Checked by</span>
                    <%= form.text_field(:checked_by_note, label: 'Checked By', class: "boss-form__input #{ (safe_check.errors[:checked_by_note]).present? ? 'boss-form__input_state_error' : '' }") %>
                </label>

                <% if (safe_check.errors[:checked_by_note]).present? %>
                  <div class="boss-form__error">
                    <p class="boss-form__error-text">
                      <span class="boss-form__error-line">
                        <%= safe_check.errors[:checked_by_note].join(', ') %>
                      </span>
                    </p>
                  </div>
                <% end %>
              </div>

              <%= form.hidden_field(:venue_id) %>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£50 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£50-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :fifty_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:fifty_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:fifty_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:fifty_pound_note_pounds]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:fifty_pound_note_pounds].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£20 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£20-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :twenty_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:twenty_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:twenty_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:twenty_pound_note_pounds]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:twenty_pound_note_pounds].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£10 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <%= form.number_field(
                                :ten_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:ten_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:ten_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:ten_pound_note_pounds]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:ten_pound_note_pounds].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£5 Notes</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£5-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :five_pound_note_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:five_pound_note_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:five_pound_note_pounds),
                                step: 0.0,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:five_pound_note_pounds]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:five_pound_note_pounds].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£2 Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£2-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :two_pound_coins_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:two_pound_coins_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:two_pound_coins_pounds),
                                step: 0.0,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:two_pound_coins_pounds]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:two_pound_coins_pounds].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">£1 Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="£1-notes" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :one_pound_coins_pounds,
                                prepend: '£',
                                value: safe_check.pound_value_for(:one_pound_coins_pounds).to_int_if_whole,
                                label: SafeCheck.label_for(:one_pound_coins_pounds),
                                step: 0.0,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:one_pound_coins_pounds]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:one_pound_coins_pounds].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">50p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="50p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :fifty_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:fifty_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:fifty_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:fifty_pence_coins_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:fifty_pence_coins_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">20p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="20p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :twenty_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:twenty_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:twenty_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:twenty_pence_coins_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:twenty_pence_coins_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">10p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="10p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :ten_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:ten_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:ten_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:ten_pence_coins_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:ten_pence_coins_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">5p Coins</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="5p-coins" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :five_pence_coins_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:five_pence_coins_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:five_pence_coins_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:five_pence_coins_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:five_pence_coins_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Coppers</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <!-- <input name="coppers" type="text" class="boss-form__input" placeholder="0"> -->
                              <%= form.number_field(
                                :coppers_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:coppers_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:coppers_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:coppers_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:coppers_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Other</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <%= form.number_field(
                                :other_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:other_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:other_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:other_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:other_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Payouts</span>
                          <span class="boss-form__units">
                              <span class="boss-form__units-value">£</span>
                              <%= form.number_field(
                                :payouts_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:payouts_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:payouts_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-watch-field', 'js-total-calculation-value-field']
                              ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:payouts_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:payouts_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                          <span class="boss-form__label-text">Out to Order</span>
                          <span class="boss-form__units">
                            <span class="boss-form__units-value">£</span>
                            <%= form.number_field(
                              :out_to_order_cents,
                              prepend: '£',
                              value: safe_check.pound_value_for(:out_to_order_cents).to_int_if_whole,
                              label: SafeCheck.label_for(:out_to_order_cents),
                              step: 0.01,
                              class: ['boss-form__input', 'js-total-calculation-out-to-order-value', 'js-total-calculation-watch-field']
                            ) %>
                          </span>
                      </label>

                      <% if (safe_check.errors[:out_to_order_cents]).present? %>
                        <div class="boss-form__error">
                          <p class="boss-form__error-text">
                            <span class="boss-form__error-line">
                              <%= safe_check.errors[:out_to_order_cents].join(', ') %>
                            </span>
                          </p>
                        </div>
                      <% end %>
                  </div>
              </div>

              <div id="received-change-block" class="boss-form__group boss-form__group_role_board-outline js-received-change">
                <div class="boss-form__row boss-form__row_justify_end boss-form__row_layout_wrap-xs">
                    <div class="boss-form__field boss-form__field_layout_max">
                        <% if safe_check.errors[:received_change].present? %>
                        <div class="boss-form__error boss-form__error_no-space">
                            <p class="boss-form__error-text">
                            <%= safe_check.errors[:received_change].join(', ') %>
                            </p>
                        </div>
                        <% end %>
                    </div>
                    <div class="boss-form__field boss-form__field_layout_actual">
                        <label class="boss-form__checkbox-label">
                            <%= form.check_box(
                              :received_change,
                              onchange: 'onReceivedChange()',
                              class: ['boss-form__checkbox-input']
                            ) %>
                            <span class="boss-form__checkbox-label-text boss-form__checkbox-label-text_layout_reverse boss-form__checkbox-label-text_no-wrap">Received change</span>
                        </label>
                    </div>
                </div>
                <div id="received-change-row" class="boss-form__row">
                    <div class="boss-form__field boss-form__field_layout_half">
                      <label class="boss-form__label">
                        <span class="boss-form__label-text">Still out to order</span>
                      </label>
                      <p class="boss-form__value">
                        <span id="js-still-out-to-order-calculation-float-value">
                          <%= number_to_currency(
                            safe_check.pound_value_for(:total_float_cents).to_int_if_whole,
                            unit: '£',
                            precision: 2
                          ) %>
                        </span>
                      </p>
                    </div>
                    <div class="boss-form__field boss-form__field_layout_half">
                        <label class="boss-form__label">
                            <span class="boss-form__label-text">Ash Cash</span>
                            <span class="boss-form__units">
                                <span class="boss-form__units-value">£</span>
                                <%= form.number_field(
                                  :ash_cash_cents,
                                  prepend: '£',
                                  value: safe_check.pound_value_for(:ash_cash_cents).to_int_if_whole,
                                  label: SafeCheck.label_for(:ash_cash_cents),
                                  step: 0.01,
                                  class: ['boss-form__input', 'js-total-calulation-ash-cash-value', 'js-total-calculation-watch-field']
                              ) %>
                            </span>
                        </label>
                         <% if (safe_check.errors[:ash_cash_cents]).present? %>
                          <div class="boss-form__error">
                            <p class="boss-form__error-text">
                              <span class="boss-form__error-line">
                                <%= safe_check.errors[:ash_cash_cents].join(', ') %>
                              </span>
                            </p>
                          </div>
                        <% end %>
                    </div>
                    <div class="boss-form__field boss-form__field_layout_half">
                        <label class="boss-form__label">
                            <span class="boss-form__label-text">Security Plus</span>
                            <span class="boss-form__units">
                                <span class="boss-form__units-value">£</span>
                              <%= form.number_field(
                                :security_plus_cents,
                                prepend: '£',
                                value: safe_check.pound_value_for(:security_plus_cents).to_int_if_whole,
                                label: SafeCheck.label_for(:security_plus_cents),
                                step: 0.01,
                                class: ['boss-form__input', 'js-total-calculation-security-plus-value', 'js-total-calculation-watch-field']
                              ) %>
                            </span>
                        </label>
                        <% if (safe_check.errors[:security_plus_cents]).present? %>
                          <div class="boss-form__error">
                            <p class="boss-form__error-text">
                              <span class="boss-form__error-line">
                                <%= safe_check.errors[:security_plus_cents].join(', ') %>
                              </span>
                            </p>
                          </div>
                        <% end %>
                    </div>
                </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                    <p class="boss-form__label"><span class="boss-form__label-text">Total</span></p>
                    <p class="boss-form__value">
                      <span class="js-total-calculation-total-result">
                        <% if safe_check.total_cents.present? %>
                          <%= number_to_currency(
                            safe_check.total_cents / 100.0,
                            unit: '£',
                            precision: 2
                          ) %>
                        <% else %>
                          -
                        <% end %>
                      </span>
                    </p>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <p class="boss-form__label"><span class="boss-form__label-text">Safe Float</span></p>
                      <p class="boss-form__value">
                        <span class="js-total-calculation-float-value js-safe-float-field">
                          <%= number_to_currency(
                            safe_check.pound_value_for(:safe_float_cents).to_int_if_whole,
                            unit: '£',
                            precision: 2
                          ) %>
                        </span>
                      </p>
                  </div>
              </div>

              <div class="boss-form__row">
                  <div class="boss-form__field boss-form__field_layout_half">
                      <p class="boss-form__label"><span class="boss-form__label-text">Total Float</span></p>
                      <p class="boss-form__value">
                        <span class="js-total-calculation-float-value">
                          <%= number_to_currency(
                            safe_check.pound_value_for(:total_float_cents).to_int_if_whole,
                            unit: '£',
                            precision: 2
                          ) %>
                        </span>
                      </p>
                  </div>
                  <div class="boss-form__field boss-form__field_layout_half">
                      <p class="boss-form__label"><span class="boss-form__label-text">Till Float</span></p>
                      <p class="boss-form__value">
                        <%= number_to_currency(
                          safe_check.pound_value_for(:till_float_cents).to_int_if_whole,
                          unit: '£',
                          precision: 2
                        ) %>
                      </p>
                  </div>
              </div>

              <div class="boss-form__field">
                  <p class="boss-form__label"><span class="boss-form__label-text">Variance</span></p>
                  <p class="boss-form__value js-total-calculation-variance-result <%= "boss-form__value_state_alert" if (safe_check.variance_cents || 0) < 0 %>">
                    <% if safe_check.variance_cents.present? %>
                      <%= number_to_currency(
                        safe_check.variance_cents / 100.0,
                        unit: '£',
                        precision: 2
                      ) %>
                    <% else %>
                      -
                    <% end %>
                  </p>
              </div>

              <%= form.fields_for(safe_check_note) do |fields| %>
                <div class="boss-form__field">
                  <p class="boss-form__label"><span class="boss-form__label-text boss-form__label-text_type_optional">Note</span></p>
                  <%= fields.text_area(:note_text, label: 'Note', label_class: 'force-not-required', class: 'boss-form__textarea boss-form__textarea_type_transparent') %>

                  <% if (safe_check_note.errors.to_a).present? %>
                    <div class="boss-form__error">
                      <p class="boss-form__error-text">
                        <span class="boss-form__error-line">
                          <%= "Couldn't save note:" %>
                          <% safe_check_note.errors.keys.each_with_index do |key, index| %>
                            <%= ', ' if index > 0 %>
                            <%= "'#{key}' #{safe_check_note.errors[key].first}" %>
                          <% end %>
                        </span>
                      </p>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <div class="boss-form__field boss-form__field_justify_mobile-center">
                <button type="button" onclick="handleFormSubmit()" class="boss-button boss-button_role_add boss-form__submit">Add new</button>
              </div>
          <% end %>
      </div>
  </div>
</div>

<script>
    window.onload = onReceivedChange();

    function handleFormSubmit(e) {
      const checkbox = document.getElementById("safe_check_received_change");
      const ashCashInput = document.getElementById("safe_check_ash_cash_cents");
      const securityPlusInput = document.getElementById("safe_check_security_plus_cents");
      if (!checkbox.checked) {
        ashCashInput.value = 0;
        securityPlusInput.value = 0;
      }
      $("#new_safe_check").submit();
    }

    function onReceivedChange() {
      var checkBox = document.getElementById("safe_check_received_change");
      var ashCashInput = document.getElementById("safe_check_ash_cash_cents");
      var receivedChangeRow = document.getElementById("received-change-row");
      var securityPlusInput = document.getElementById("safe_check_security_plus_cents");
      var outToOrder = document.getElementById("safe_check_out_to_order_cents");
      if(checkBox.checked) {
        receivedChangeRow.style.display = "flex";
      } else {
        receivedChangeRow.style.display = "none";
      }
      calculateRealtimeTotals();
    }
</script>