<h1>Safe Check</h1>

<%= link_to('Return to index', safe_checks_path(venue_id: safe_check.venue.id)) %>

<dl class="dl-horizontal">
  <dt>Venue</dt>
  <dd><%= safe_check.venue.name.titlecase %></dd>

  <dt>Time</dt>
  <dd><%= safe_check.created_at.to_s(:human) %></dd>

  <dt>Checked By</dt>
  <dd><%= safe_check.checked_by_note %></dd>

  <% SafeCheck::POUND_FIELDS.each do |field| %>
    <dt><%= SafeCheck.label_for(field) %></dt>
    <dd><%= safe_check.pound_value_for(field) %></dd>
  <% end %>

  <% SafeCheck::VALIDATABLE_CENT_FIELDS.each do |field| %>
    <dt><%= SafeCheck.label_for(field) %></dt>
    <dd><%= safe_check.pound_value_for(field) %></dd>
  <% end %>

  <dt><%= SafeCheck.label_for(:coppers_cents) %></dt>
  <dd><%= safe_check.pound_value_for(:coppers_cents) %></dd>

  <dt>Other</dt>
  <dd><%= safe_check.pound_value_for(:other_cents) %></dd>

  <dt>Total</dt>
  <dd><%= safe_check.pound_value_for(:total_cents) %></dd>

  <dt>Out to order</dt>
  <dd><%= safe_check.pound_value_for(:out_to_order_cents) %></dd>

  <dt>Till Float</dt>
  <dd><%= safe_check.pound_value_for(:till_float_cents) %></dd>

  <dt>Safe Float</dt>
  <dd><%= safe_check.pound_value_for(:safe_float_cents) %></dd>

  <dt>Variance</dt>
  <dd><%= safe_check.pound_value_for(:variance_cents) %></dd>
</dl>

<h2>Notes</h2>

<p>Total: <%= safe_check_notes.count %></p>

<%= link_to('Add new', notes_safe_check_path(safe_check), class: 'btn btn-primary') %>

<% if safe_check_notes.count > 0 %>
  <%= render partial: 'notes_list', locals: { safe_check_notes: safe_check_notes } %>
<% end %>
