<h1>Safe Check</h1>

<%= link_to('Return to index', safe_checks_path(venue_id: safe_check.venue.id)) %>

<dl class="dl-horizontal">
  <dt>Venue</dt>
  <dd><%= safe_check.venue.name.titlecase %></dd>

  <dt>Time</dt>
  <dd><%= safe_check.created_at.to_s(:human) %></dd>

  <dt>Checked By</dt>
  <dd><%= safe_check.checked_by_note %></dd>
</dl>

<table class="table">
  <thead>
    <tr>
      <% SafeCheck::POUND_FIELDS.each do |field| %>
        <th><%= SafeCheck.label_for(field) %></th>
      <% end %>
      <% SafeCheck::VALIDATABLE_CENT_FIELDS.each do |field| %>
        <th><%= SafeCheck.label_for(field) %></th>
      <% end %>
      <th><%= SafeCheck.label_for(:coppers_cents) %></th>
      <th>Other</th>
      <th>Payouts</th>
      <th>Total</th>
      <th>Out to Order</th>
      <th>Till Float</th>
      <th>Safe Float</th>
      <th>Total Float</th>
      <th>Variance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% SafeCheck::POUND_FIELDS.each do |field| %>
        <td>
          <%= number_to_currency(
                safe_check.pound_value_for(field),
                unit: '£',
                precision: 0
              ) %>
        </td>
      <% end %>

      <% SafeCheck::VALIDATABLE_CENT_FIELDS.each do |field| %>
        <td>
          <%= number_to_currency(
                safe_check.pound_value_for(field),
                unit: '£',
                precision: 2
              ) %>
        </td>
      <% end %>

      <td>
        <%= number_to_currency(
              safe_check.pound_value_for(:coppers_cents),
              unit: '£',
              precision: 2
            ) %>
      </td>

      <td>
        <%= number_to_currency(
              safe_check.pound_value_for(:other_cents),
              unit: '£',
              precision: 2
            ) %>
      </td>

      <% payouts_value = safe_check.pound_value_for(:payouts_cents) %>
      <td class="<%= payouts_value > 0 ? 'text-danger' : '' %>">
        <%= number_to_currency(
              payouts_value,
              unit: '£',
              precision: 2
            ) %>
      </td>

      <td>
        <%= number_to_currency(
              safe_check.pound_value_for(:total_cents),
              unit: '£',
              precision: 2
            ) %>
      </td>

      <td>
        <% still_out_to_order_cents = safe_check.out_to_order_cents %>
        <%= number_to_currency(
              safe_check.pound_value_for(:out_to_order_cents),
              unit: '£',
              precision: 2
            ) %>
      </td>

      <td>
        <%= number_to_currency(
              safe_check.pound_value_for(:till_float_cents),
              unit: '£',
              precision: 2
            ) %>
      </td>

      <td>
        <%= number_to_currency(
              safe_check.pound_value_for(:safe_float_cents),
              unit: '£',
              precision: 2
            ) %>
      </td>

      <td>
        <%= number_to_currency(
              safe_check.pound_value_for(:total_float_cents),
              unit: '£',
              precision: 2
            ) %>
      </td>

      <td class="<%= "text-danger" if safe_check.variance_cents < 0 %>">
        <%= number_to_currency(
              safe_check.pound_value_for(:variance_cents),
              unit: '£',
              precision: 2
            ).gsub('-', "\u2011") %>
      </td>
    </tr>
  </tbody>
</table>

<h2>Notes</h2>

<p>Total: <%= safe_check_notes.count %></p>

<%= link_to('Add new', safe_check_notes_path(safe_check_id: safe_check.id), class: 'boss2-button') %>

<% if safe_check_notes.count > 0 %>
  <%= render partial: 'shared/safe_check_notes_list', locals: { safe_check_notes: safe_check_notes } %>
<% end %>
