<h1>Staff Types</h1>

<%= form_tag update_colors_staff_types_path do %>
  <% if staff_types.count > 0 %>
    <table class="staff-types-list list-unstyled">
      <thead>
        <th>Name</th>
        <th>Badge</th>
        <th></th>
      </thead>
      <tbody>
        <% staff_types.each do |staff_type|  %>
          <tr>
            <td><%= staff_type.name.titlecase %></td>
            <td>
              <div class="boss-badge" data-type="<%= staff_type.name.parameterize %>" style="background-color: #<%= staff_type.ui_color %>">
                <%= staff_type.name.titlecase %>
              </div>
            </td>
            <td>
              <div class="form-group">
                <%= fields_for('staff_type[]', staff_type) do |staff_type_fields| %>
                  <%= staff_type_fields.hidden_field(:id) %>
                  <%= staff_type_fields.text_field(:ui_color,
                    class: 'hidden',
                    data: { type: staff_type.name.parameterize, selector: 'staff_type' }
                  ) %>
                <% end %>

                <%= react_component(
                    "ColorPicker",
                    color: "\##{staff_type.ui_color}",
                    colors: StaffType::VALID_COLORS.map {|hex_value| "##{hex_value}"}
                ) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Update', class: "boss3-button" %>
  <% else %>
    <p>No staff types exist</p>
  <% end %>
<% end %>
