<table class="table">
  <tr>
    <th>Venue</th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.venue.name %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:limes) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.limes %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:lemons) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.lemons %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:rasberries) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.rasberries %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:blueberries) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.blueberries %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:blackberries) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.blackberries %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:green_apples) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.green_apples %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:oranges) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.oranges %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:passion_fruits) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.passion_fruits %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:lychees) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.lychees %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:cucumbers) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.cucumbers %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:kumkwats) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.kumkwats %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:dragon_fruits) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.dragon_fruits %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:watermelon) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.watermelon %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:pink_grapefruit) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.pink_grapefruit %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:plums) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.plums %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:deskinned_coconuts) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.deskinned_coconuts %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_mint) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_mint %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_basil) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_basil %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_lavender) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_lavender %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:rosemary) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.rosemary %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:thyme) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.thyme %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:red_roses) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.red_roses %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:kaffir_lime_leaves) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.kaffir_lime_leaves %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_ginger) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_ginger %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:bananas) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.bananas %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:maraschino_cherry) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.maraschino_cherry %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:cream) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.cream %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:sharon_fruits) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.sharon_fruits %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:figs) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.figs %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:blood_oranges) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.blood_oranges %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:pomegranates) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.pomegranates %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:pineapples) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.pineapples %></td>
    <% end %>
  </tr>
  <tr>
    <th></th>
    <% fruit_orders.each do |fruit_order| %>
      <td>
        <%= render partial: action_partial, locals: { fruit_order: fruit_order } %>
      </td>
    <% end %>
  </tr>
</table>
