<table class="table">
  <tr>
    <th>Venue</th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.venue.name %></td>
    <% end %>
    <th>Total</th>
  </tr>
  <% FruitOrder::FIELDS.each do |field| %>
    <tr>
      <th><%= FruitOrder.message_for(field) %></th>
      <% fruit_orders.each do |fruit_order| %>
        <td><%= fruit_order.public_send(field) %></td>
      <% end %>
      <td><%= fruit_orders.to_a.sum { |fo| fo.public_send(field) } %></td>
    </tr>
  <% end %>
  <tr>
    <th></th>
    <% fruit_orders.each do |fruit_order| %>
      <td>
        <%= render partial: action_partial, locals: { fruit_order: fruit_order } %>
      </td>
    <% end %>
  </tr>
</table>
