<div class="boss-board__orders">
  <div class="boss-horizontal-table boss-horizontal-table_page_fruit-order-report">
    <div class="boss-horizontal-table__column">
      <div class="boss-horizontal-table__group">
        <div class="boss-horizontal-table__cell boss-horizontal-table__cell_role_header">Venue</div>

        <% show_fields.each do |field| %>
          <div class="boss-horizontal-table__cell boss-horizontal-table__cell_role_header">
            <%= FruitOrder.message_for(field) %>
          </div>
        <% end %>
      </div>

      <% if show_complete_actions %>
        <%= render partial: action_partial, locals: { fruit_orders: fruit_orders, show_complete_actions: show_complete_actions } %>
      <% end %>
    </div>

    <div class="boss-horizontal-table__column boss-horizontal-table__column_role_scroller">
      <div class="boss-horizontal-table__scroll" id="pending-orders">
        <% fruit_orders.each_with_index do |fruit_order, index| %>
          <div class="boss-horizontal-table__scroll-item">
            <div class="boss-horizontal-table__cell"><%= fruit_order.venue.name.titleize %></div>

            <% show_fields.each do |field| %>
              <div class="boss-horizontal-table__cell"><%= fruit_order.public_send(field) %></div>
            <% end %>

            <%= render partial: action_partial, locals: { fruit_order: fruit_order, show_complete_actions: false } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="boss-horizontal-table__column">
      <div class="boss-horizontal-table__cell boss-horizontal-table__cell_role_footer">Total</div>

      <% show_fields.each do |field| %>
        <div class="boss-horizontal-table__cell boss-horizontal-table__cell_role_footer"><%= fruit_orders.to_a.sum { |fo| fo.public_send(field) } %></div>
      <% end %>
    </div>
  </div>
</div>
