<table class="table">
  <tr>
    <th>Venue</th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.venue.name %></td>
    <% end %>
    <th>Total</th>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:limes) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.limes %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:limes) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:lemons) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.lemons %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:lemons) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:rasberries) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.rasberries %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:rasberries) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:blueberries) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.blueberries %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:blueberries) %></td>
  </tr>
  <tr>
    <div class="row">
      <th><%= FruitOrder.message_for(:blackberries) %></th>
      <% fruit_orders.each do |fruit_order| %>
        <td><%= fruit_order.blackberries %></td>
      <% end %>
      <td><%= fruit_orders.to_a.sum(&:blackberries) %></td>
    </div>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:green_apples) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.green_apples %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:green_apples) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:oranges) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.oranges %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:oranges) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:passion_fruits) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.passion_fruits %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:passion_fruits) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:lychees) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.lychees %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:lychees) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:cucumbers) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.cucumbers %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:cucumbers) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:kumkwats) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.kumkwats %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:kumkwats) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:dragon_fruits) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.dragon_fruits %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:dragon_fruits) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:watermelon) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.watermelon %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:watermelon) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:pink_grapefruit) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.pink_grapefruit %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:pink_grapefruit) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:plums) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.plums %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:plums) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:deskinned_coconuts) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.deskinned_coconuts %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:deskinned_coconuts) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_mint) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_mint %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:fresh_mint) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_basil) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_basil %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:fresh_basil) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_lavender) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_lavender %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:fresh_lavender) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:rosemary) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.rosemary %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:rosemary) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:thyme) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.thyme %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:thyme) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:red_roses) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.red_roses %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:red_roses) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:kaffir_lime_leaves) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.kaffir_lime_leaves %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:kaffir_lime_leaves) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:fresh_ginger) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.fresh_ginger %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:fresh_ginger) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:bananas) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.bananas %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:bananas) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:maraschino_cherry) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.maraschino_cherry %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:maraschino_cherry) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:cream) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.cream %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:cream) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:sharon_fruits) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.sharon_fruits %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:sharon_fruits) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:figs) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.figs %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:figs) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:blood_oranges) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.blood_oranges %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:blood_oranges) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:pomegranates) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.pomegranates %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:pomegranates) %></td>
  </tr>
  <tr>
    <th><%= FruitOrder.message_for(:pineapples) %></th>
    <% fruit_orders.each do |fruit_order| %>
      <td><%= fruit_order.pineapples %></td>
    <% end %>
    <td><%= fruit_orders.to_a.sum(&:pineapples) %></td>
  </tr>
  <tr>
    <th></th>
    <% fruit_orders.each do |fruit_order| %>
      <td>
        <%= render partial: action_partial, locals: { fruit_order: fruit_order } %>
      </td>
    <% end %>
  </tr>
</table>
