<table
  class="table tablesaw tablesaw-stack table-striped table-bordered"
  data-tablesaw-mode="stack"
>
  <thead>
    <th>Venue</th>
    <% fruit_orders.each do |fruit_order| %>
      <th><%= fruit_order.venue.name.titlecase %></th>
    <% end %>
    <th class="hide-for-small-only">Total</th>
  </thead>
  <tbody>
    <tr>
      <% show_fields.each do |field| %>
        <tr>
          <th><%= FruitOrder.message_for(field) %></th>
          <% fruit_orders.each do |fruit_order| %>
            <td><%= fruit_order.public_send(field) %></td>
          <% end %>
          <td class="hide-for-small-only"><%= fruit_orders.to_a.sum { |fo| fo.public_send(field) } %></td>
        </tr>
      <% end %>
    </tr>
    <tr>
      <th><span class="show-for-small-only">Actions</span></th>
      <% fruit_orders.each do |fruit_order| %>
        <td>
          <%= render partial: action_partial, locals: { fruit_order: fruit_order } %>
        </td>
      <% end %>
      <td class="hide-for-small-only"></td>
    </tr>
  </tbody>
</table>
