<div>
  <div class="pull-right">
    <%= link_to('Back to current orders', fruit_order_reports_path, class: 'boss-button') %>
  </div>

  <h1>Fruit Order History</h1>

  <% if fruit_orders.to_a.count > 0 %>
    <ul class="no-bullet">
      <% fruit_orders.each do |fruit_order| %>
        <li>
          <p>
            Venue: <%= fruit_order.venue.name %>
          </p>
          <p>
            Marked compelete at <%= fruit_order.done_at.to_s(:human) %> by <%= fruit_order.done_user.full_name %>
          </p>
          <%= link_to('View', fruit_order_path(fruit_order), class: 'boss-button') %>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'shared/pagination_control', locals: { relation: fruit_orders } %>
  <% else %>
    <p>No previously completed fruit orders exist</p>
  <% end %>
</div>
