<div class="container">
  <div class="row align-middle mb-md">
    <div class="column"><h1 style="display: inline">Hours Requiring Confirmation</h1></div>
    <div class="shrink column">
      <% date = RotaShiftDate.to_rota_date(Time.current) %>
      <%= link_to(hours_confirmation_index_path(venue_id: venue.id, date:UIRotaDate.format(date)), class: "boss3-button boss3-button_role_calendar") do %>
          View by date
      <% end %>
    </div>
  </div>
  <%= react_component('HoursConfirmationApp') %>
</div>

<script>
  window.boss = {};

  window.boss.access_token = "<%= access_token.token %>";

  window.boss.venues = <%= raw render partial: 'api/v1/shared/venues.json', locals: { venues: venues } %>;
  window.boss.clockInDays = <%= raw render partial: 'api/v1/shared/clock_in_days.json', locals: { clock_in_days: clock_in_days } %>;

  window.boss.clockInPeriods = <%= raw render partial: 'api/v1/shared/clock_in_periods.json', locals: { clock_in_periods: clock_in_periods } %>;

  window.boss.hoursAcceptancePeriods = <%= raw render partial: 'api/v1/shared/hours_acceptance_periods.json', locals: { hours_acceptance_periods: hours_acceptance_periods } %>;

  window.boss.clockInEvents = <%= raw render partial: 'api/v1/shared/clock_in_events.json', locals: { clock_in_events: clock_in_events } %>;

  window.boss.rotaShifts = <%= raw render partial: 'api/v1/shared/rota_shifts.json', locals: { rota_shifts: rota_shifts } %>;

  window.boss.rotas = <%= raw render partial: 'api/v1/shared/rotas.json', locals: { rotas: rotas } %>;

  window.boss.clockInBreaks = <%= raw render partial: 'api/v1/shared/clock_in_breaks.json', locals: { clock_in_breaks: clock_in_breaks } %>;

  window.boss.hoursAcceptanceBreaks = <%= raw render partial: 'api/v1/shared/hours_acceptance_breaks.json', locals: { hours_acceptance_breaks: hours_acceptance_breaks } %>;

  window.boss.staffMembers = <%= raw render partial: 'api/v1/shared/staff_members.json', locals: { staff_members: staff_members } %>;

  window.boss.staffTypes = <%= raw render partial: 'api/v1/shared/staff_types.json', locals: { staff_types: staff_types } %>;

  window.boss.clockInNotes = <%= raw render partial: 'api/v1/shared/clock_in_notes.json', locals: { clock_in_notes: clock_in_notes } %>;

  window.boss.pageOptions = {
    venue: { id: <%= venue.id %> }
  }
</script>
