<div class="container">
  <div class="row align-middle mb-md">
    <div class="column"><h1 style="display: inline">Hours Requiring Confirmation</h1></div>
    <div class="shrink column">
      <% date = RotaShiftDate.to_rota_date(Time.current) %>
      <%= link_to(hours_confirmation_index_path(venue_id: venue.id, date:UIRotaDate.format(date)), class: "boss2-button boss2-button_role_calendar") do %>
          View by date
      <% end %>
    </div>
  </div>
  <%= react_component('HoursConfirmationApp') %>
</div>

<script>
  window.boss = window.boss || {};
  window.boss.store = window.boss.store || {};
  window.boss.store.access_token = "<%= access_token.token %>";

  window.boss.store.venues = <%= api_v1_collection_json(venues, Api::V1::VenueSerializer) %>;
  window.boss.store.clockInDays = <%= api_v1_collection_json(clock_in_days, Api::V1::ClockInDaySerializer) %>;

  window.boss.store.clockInPeriods = <%= api_v1_collection_json(clock_in_periods, Api::V1::ClockInPeriodSerializer) %>;

  window.boss.store.hoursAcceptancePeriods = <%= api_v1_collection_json(hours_acceptance_periods, Api::V1::HoursAcceptancePeriodSerializer) %>;

  window.boss.store.clockInEvents = <%= api_v1_collection_json(clock_in_events, Api::V1::ClockInEventSerializer) %>;

  window.boss.store.rotaShifts = <%= api_v1_collection_json(rota_shifts, Api::V1::RotaShiftSerializer) %>;

  window.boss.store.rotas = <%= api_v1_collection_json(rotas, Api::V1::RotaSerializer) %>;

  window.boss.store.clockInBreaks = <%= api_v1_collection_json(clock_in_breaks, Api::V1::ClockInBreakSerializer) %>;

  window.boss.store.hoursAcceptanceBreaks = <%= api_v1_collection_json(hours_acceptance_breaks, Api::V1::HoursAcceptanceBreakSerializer) %>;

  window.boss.store.staffMembers = <%= api_v1_collection_json(staff_members, Api::V1::StaffMemberSerializer) %>;

  window.boss.store.staffTypes = <%= api_v1_collection_json(staff_types, Api::V1::StaffTypeSerializer) %>;

  window.boss.store.clockInNotes = <%= api_v1_collection_json(clock_in_notes, Api::V1::ClockInNoteSerializer) %>;

  window.boss.store.pageOptions = {
    venue: { id: <%= venue.id %> }
  }
</script>
