<h1>Pay Rates</h1>

<p>These pay rates will be visible and selectable by all managers</p>

<%= link_to(new_pay_rate_path, class: ['boss3-button boss3-button_role_add']) do %>
    Add Rate
<% end %>

<% if pay_rates.present? %>
  <table
    class="tablesaw tablesaw-stack"
    data-tablesaw-mode="stack"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Staff Members</th>
        <th>Calculation Type</th>
        <th>Rate</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% pay_rates.each do |pay_rate| %>
        <tr>
          <td><%= pay_rate.name %></td>
          <td><%= link_to(pay_rate.staff_members.enabled.count, staff_members_pay_rate_path(pay_rate)) %></td>
          <td><%= PayRate.calculation_type_display_name(pay_rate.calculation_type) %></td>
          <td><%= number_to_currency(pay_rate.rate_in_pounds, unit: '£', precision: 2) %></td>
          <td>
            <div class="row">
              <div class="shrink column npr">
                <%= link_to(edit_pay_rate_path(pay_rate), class: 'boss3-button boss3-button_type_small boss3-button_role_edit') do %>
                  Edit
                <% end %>
              </div>
              <div class="shrink column">
                <% if pay_rate.deletable? %>
                  <%= link_to(pay_rate_path(pay_rate), method: 'DELETE', class: 'boss3-button boss3-button_type_small boss3-button_role_delete') do %>
                        Delete
                    <% end %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No normal pay rates exist</p>
<% end %>

<h2>Admin Pay rates</h2>

<p>These will only be visible and selectable to users with admin access</p>

<%= link_to(new_admin_pay_rate_path, class: ['boss3-button boss3-button_role_add']) do %>
    Add Admin Rate
<% end %>

<% if admin_pay_rates.present? %>
  <table
    class="tablesaw tablesaw-stack"
    data-tablesaw-mode="stack"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Staff Members</th>
        <th>Calculation Type</th>
        <th>Rate</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% admin_pay_rates.each do |admin_pay_rate| %>
        <tr>
          <td><%= admin_pay_rate.name %></td>
          <td><%= link_to(admin_pay_rate.staff_members.enabled.count, staff_members_pay_rate_path(admin_pay_rate)) %></td>
          <td><%= PayRate.calculation_type_display_name(admin_pay_rate.calculation_type) %></td>
          <td><%= number_to_currency(admin_pay_rate.rate_in_pounds, unit: '£', precision: 2) %></td>
          <td>
            <div class="row">
              <div class="shrink column npr">
                <%= link_to(edit_pay_rate_path(admin_pay_rate), class: 'boss3-button boss3-button_type_small boss3-button_role_edit') do %>
                  Edit
                <% end %>
              </div>
              <div class="shrink column">
                <% if admin_pay_rate.deletable? %>
                  <%= link_to(pay_rate_path(admin_pay_rate), method: 'DELETE', class: 'boss3-button boss3-button_type_small boss3-button_role_delete') do %>
                    Delete
                  <% end %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No admin pay rates exist</p>
<% end %>
