<div class="boss-page-main__dashboard">
  <div class="boss-page-main__inner">
    <div class="boss-page-dashboard boss-page-dashboard_updated">
      <div class="boss-page-dashboard__group">
        <h1 class="boss-page-dashboard__title">
          <span class="boss-page-dashboard__title-text">Users</span>
          <span class="boss-page-dashboard__title-info"><%= users.count %></span>
        </h1>
        <div class="boss-page-dashboard__buttons-group">
          <%= link_to('Manage Invites', invites_path, class: ['boss-button boss-page-dashboard__button']) %>
        </div>
      </div>
      <div class="boss-page-dashboard__filter">
        <div class="boss-dropdown boss-dropdown__content_state_opened">
          <div class="boss-dropdown__header">
            <span id="js-filter-button" class="boss-dropdown__switch boss-dropdown__switch_role_filter boss-dropdown__switch_state_opened">
              Filter
            </span>
          </div>
          <div id="js-filter" data-show="<%= params[:filter].present? %>" class="boss-dropdown__content">
            <div class="boss-dropdown__content-inner">
              <%= boss_form_for(
                    'filter',
                    url: users_path,
                    html: { method: :get, class: 'boss-form' }
                  ) do |form| %>
                  <div class="boss-form__row boss-form__row_position_last">
                    <div class="boss-form__group boss-form__group_layout_half">
                      <%= form.text_field(:name_text, label: 'Name', value: filter.name_text) %>
                      <%= form.text_field(:email_text, label: 'Email', value: filter.email_text) %>
                    </div>
                    <div class="boss-form__group boss-form__group_layout_half">
                      <%= form.select(
                        :status,
                        options_for_select(
                            filter.select_statuses.map { |status| [status.titlecase, status] },
                            filter.status
                        ),
                        prompt: 'Any',
                        label: 'Status',
                      ) %>
                      <%= form.select(
                        :role,
                        options_for_select(
                            User::ROLES.map{ |role| [role.titlecase, role] },
                            filter.role.to_s
                        ),
                        prompt: 'Any',
                        label: 'Roles'
                      ) %>
                      <div class="boss-form__field boss-form__field_justify_end">
                        <%= form.submit('Update', class: 'boss-button boss-form__submit boss-form__submit_adjust_single') %>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="boss-page-main__content">
    <div class="boss-page-main__inner">
      <% if users.present? %>
        <div class="boss-page-main__group boss-page-main__group_adjust_users-table">
          <div class="boss-table boss-table_page_users-index">
            <div class="boss-table__row">
              <div class="boss-table__cell boss-table__cell_role_header">Name</div>
              <% if filter.many_statuses? %>
                <div class="boss-table__cell boss-table__cell_role_header">Status</div>
              <% end %>
              <div class="boss-table__cell boss-table__cell_role_header">Email</div>
              <div class="boss-table__cell boss-table__cell_role_header">Role</div>
            </div>
            <% users.each do |user| %>
              <div class="boss-table__row">
                <div class="boss-table__cell">
                  <div class="boss-table__info">
                    <p class="boss-table__label">Name</p>
                    <p class="boss-table__text">
                      <%= link_to(user_path(user), class: 'boss-table__link') do %>
                          <%= user.full_name.titlecase %>
                      <% end %>
                    </p>
                  </div>
                </div>          
                <% if filter.many_statuses? %>
                  <div class="boss-table__cell">
                    <div class="boss-table__info">
                      <p class="boss-table__label">Status</p>
                      <p class="boss-table__text">
                        <%= user.current_state.titlecase %>
                      </p>
                    </div>
                  </div>          
                <% end %>
                <div class="boss-table__cell">
                  <div class="boss-table__info">
                    <p class="boss-table__label">Email</p>
                    <p class="boss-table__text">
                      <% if user.email_address.bounced_data.present? %>
                        <button
                          bounced-email
                          data-bounced-email="<%= user.email_address.bounced_data["email"] %>"
                          data-bounced-reason="<%= user.email_address.bounced_data["reason"] %>"
                          data-bounced-error-code="<%= user.email_address.bounced_data["error_code"] %>"
                          data-bounced-at="<%= user.email_address.bounced_data["bounced_at"] %>"
                          data-bounced-updated-at="<%= user.email_address.bounced_data["updated_at"] %>"
                          class="boss-table__text boss-table__text_role_alert-action boss-table__text_adjust_wrap"
                        ><%= user.email %></button>
                      <% else %>
                        <%= link_to(user_path(user), class: 'boss-table__link') do %>
                            <%= user.email %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                </div>          
                <div class="boss-table__cell">
                  <div class="boss-table__info">
                    <p class="boss-table__label">Role</p>
                    <p class="boss-table__text">
                      <%= link_to(user_path(user), class: 'boss-table__link') do %>
                          <%= user.role.titleize %>
                      <% end %>
                    </p>
                  </div>
                </div>          
              </div>
            <% end %>
          </div>
        </div>

        <% users.each do |user| %>
          <div class="boss-check boss-check_role_board boss-check_page_users-index">
            <div class="boss-check__row">
              <div class="boss-check__cell">
                <%= link_to(user_path(user), class: 'boss-check__title boss-check__title_role_user') do %>
                    <%= user.full_name.titlecase %>
                <% end %>
              </div>
            </div>
            <div class="boss-check__row boss-check__row_marked">
              <div class="boss-check__info-table">
                <div class="boss-check__info-row">
                  <div class="boss-check__info-cell">
                    <p class="boss-check__text">Email</p>
                  </div>
                  <div class="boss-check__info-cell">
                    <% if user.email_address.bounced_data.present? %>
                      <button
                        bounced-email
                        data-bounced-email="<%= user.email_address.bounced_data["email"] %>"
                        data-bounced-reason="<%= user.email_address.bounced_data["reason"] %>"
                        data-bounced-error-code="<%= user.email_address.bounced_data["error_code"] %>"
                        data-bounced-at="<%= user.email_address.bounced_data["bounced_at"] %>"
                        data-bounced-updated-at="<%= user.email_address.bounced_data["updated_at"] %>"
                        class="boss-check__text boss-check__text_role_primary boss-check__text_role_alert-action boss-check__text_adjust_wrap"
                      ><%= user.email %></button>
                    <% else %>
                      <button class="boss-check__text boss-check__text_role_primary boss-check__text_adjust_wrap">
                        <%= user.email %>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class="boss-check__info-row">
                  <div class="boss-check__info-cell">
                    <p class="boss-check__text">Role</p>
                  </div>
                  <div class="boss-check__info-cell">
                    <%= link_to(user_path(user), class: 'boss-check__text boss-check__text_role_primary boss-check__text_adjust_wrap') do %>
                      <%= user.role.titleize %>
                    <% end %>
                  </div>
                </div>
                <% if filter.many_statuses? %>
                  <div class="boss-check__info-row">
                    <div class="boss-check__info-cell">
                      <p class="boss-check__text">Status</p>
                    </div>
                    <div class="boss-check__info-cell">
                      <p class="boss-check__text boss-check__text_role_primary boss-check__text_adjust_wrap">
                        <%= user.current_state.titlecase %>
                      </p>
                    </div>
                  </div>
                <% end %>                
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render partial: 'shared/pagination_control_v2', locals: { relation: users } %>
    </div>
  </div>

<script>
  (function($) {
    $(function() {
      $('#js-filter-button').on('click', function() {
        $('#js-filter').toggleClass('boss-dropdown__content_state_opened');
        $(this).toggleClass('boss-dropdown__switch_state_opened');
        $(this).closest('.boss-dropdown').toggleClass('boss-dropdown__content_state_opened');
      });
      
      if ($('#js-filter').data('show')) {
        $('#js-filter-button').click();
      }
    })
  }(jQuery))
</script>
