<h1>Users</h1>

<%= link_to('Add User', new_user_path, class: ['btn', 'btn-primary']) %>

<% if users.present? %>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    <tr>
    <% users.each do |user| %>
      <tr class="users-index-listing" data-user-id="<%= user.id %>">
        <td data-role="name"><%= user.full_name %></td>
        <td data-role="email"><%= user.email %></td>
        <td data-role="role"><%= user.role.titleize %></td>
      </tr>
    <% end %>
  </table>
<% end %>
