<div class="media-object">
  <h1><%= user.full_name.titlecase %><%= " (Disabled)" if user.disabled? %></h1>
  <div class="media-object-section">
    <% if can?(:disable, user) %>
      <%= link_to(disable_user_path(user), class: 'button alert') do %>
        <span class="fa fa-fire mr-base"></span>Disable User
      <% end %>
    <% end %>
    <% if can?(:enable, user) %>
      <%= link_to(undestroy_user_path(user), method: :post, class: 'button alert') do %>
        <span class="fa fa-heart mr-base"></span>Enable User
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Personal Details</span>
      <% if user.enabled? %>
        <span>
          <%= link_to(
                'Edit',
                edit_personal_details_user_path(user),
                class: ['button', 'small', 'user-edit-personal-details-button']
              ) %>
        </span>
      <% end %>
    </div>
    <div class="panel-body">
    <dl>
      <dt class="show-page-detail-heading">Name</dt>
      <dd class="show-page-detail" data-detail="name"><%= user.full_name.titlecase %></dd>

      <dt class="show-page-detail-heading">Email Address</dt>
      <dd class="show-page-detail" data-detail="email"><%= user.email %></dd>
    </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Access Details</span>
      <% if user.enabled? %>
        <span>
          <%= link_to(
                'Edit',
                edit_access_details_user_path(user),
                class: ['button', 'small', 'user-edit-access-details-button']
              ) %>
        </span>
      <% end %>
    </div>
    <div class="panel-body">
      <dl>
        <dt class="show-page-detail-heading">Role</dt>
        <dd class="show-page-detail" data-detail="role"><%= user.role.titleize %></dd>

        <dt class="show-page-detail-heading">Venue Access</dt>
        <% if user.dev? || user.admin? %>
          <dd class="show-page-detail" data-detail="venues">All</dd>
        <% else %>
          <dd class="show-page-detail" data-detail="venues"><%= user.venues.map(&:name).join(', ') %></dd>
        <% end %>
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Account Details</div>
    <div class="panel-body">
      <dl>
        <dt class="show-page-detail-heading">Status</dt>
        <dd class="show-page-detail" data-detail="status"><%= user.status %></dd>

        <% if can? :manage, :staff_members %>
          <dt class="show-page-detail-heading">Staff Member</dt>
          <dd class="show-page-detail" data-detail="staff-member">
            <% if user.staff_member.present? %>
              <%= link_to(
                    'View',
                    staff_member_path(user.staff_member),
                    class: ['view-staff-member-button' ,'button', 'success']
                  )
              %>
            <% else %>
              <div class="no-assocaited-staff-member-message">
                No assocaited staff member
              </div>
              <% if user.enabled? %>
                <div>
                  <%= link_to(
                        'Create',
                        new_staff_member_user_path(user),
                        class: ['create-staff-member-button', 'button', 'primary']
                      ) %>
                </div>
              <% end %>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
