<h1><%= user.full_name %></h1>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Personal Details</span>
      <span>
        <%= link_to(
              'Edit',
              edit_personal_details_user_path(user),
              class: ['btn', 'btn-primary', 'btn-xs', 'user-edit-personal-details-button']
            ) %>
      </span>
    </div>
    <div class="panel-body">
    <dl>
      <dt class="show-page-detail-heading">Name</dt>
      <dd class="show-page-detail" data-detail="name"><%= user.full_name %></dd>

      <dt class="show-page-detail-heading">Email Address</dt>
      <dd class="show-page-detail" data-detail="email"><%= user.email %></dd>
    </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <div class="show-page-detail" data-detail="status"><%= user.status %></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Role</div>
    <div class="panel-body">
      <div class="show-page-detail" data-detail="role"><%= user.role.titleize %></div>
    </div>
  </div>
</div>
