<h1><%= user.full_name %></h1>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Personal Details</span>
      <span>
        <%= link_to(
              'Edit',
              edit_personal_details_user_path(user),
              class: ['btn', 'btn-primary', 'btn-xs', 'user-edit-personal-details-button']
            ) %>
      </span>
    </div>
    <div class="panel-body">
    <dl>
      <dt class="show-page-detail-heading">Name</dt>
      <dd class="show-page-detail" data-detail="name"><%= user.full_name %></dd>

      <dt class="show-page-detail-heading">Email Address</dt>
      <dd class="show-page-detail" data-detail="email"><%= user.email %></dd>
    </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Account Details</div>
    <div class="panel-body">
      <dl>
        <dt class="show-page-detail-heading">Status</dt>
        <dd class="show-page-detail" data-detail="status"><%= user.status %></dd>

        <dt class="show-page-detail-heading">Role</dt>
        <dd class="show-page-detail" data-detail="role"><%= user.role.titleize %></dd>
        <% if can? :manage, :staff_members %>
          <dt class="show-page-detail-heading">Staff Member</dt>
          <dd class="show-page-detail" data-detail="staff-member">
            <% if user.staff_member.present? %>
              <%= link_to(
                    'View',
                    staff_member_path(user.staff_member),
                    class: ['view-staff-member-button' ,'btn', 'btn-success']
                  )
              %>
            <% else %>
              <div class="no-assocaited-staff-member-message">
                No assocaited staff member
              </div>
              <div>
                <%= link_to(
                      'Create',
                      new_staff_member_user_path(user),
                      class: ['create-staff-member-button', 'btn', 'btn-primary']
                    ) %>
              </div>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
