<div class="address-form">
  <%= form.text_field :address_1 %>
  <%= form.text_field :address_2 %>
  <%= form.text_field :address_3 %>
  <%= form.text_field :address_4 %>
  <%= form.text_field :postcode %>
  <%= form.text_field :country %>
  <%= form.text_field :region %>
</div>
