<% if holiday.errors[:base].present? %>
  <div class="alert alert-danger" role="alert">
    <%= holiday.errors[:base].to_sentence %>
  </div>
<% end %>

<%= bootstrap_form_for(holiday, url: create_holiday_staff_member_path(staff_member), html: { class: 'form-inline' }) do |form| %>
  <%= form.date_select(
        :start_date,
        {
          start_year: Time.now.year,
          end_year: 1940,
          include_blank: true,
          with_css_classes: true,
          label_class: 'required'
        }
      ) %>
  <%= form.date_select(
        :end_date,
        {
          start_year: Time.now.year,
          end_year: 1940,
          include_blank: true,
          with_css_classes: true,
          label_class: 'required'
        }
      ) %>
  <%= form.select(
        :holiday_type,
        options_for_select(
          Holiday::HOLIDAY_TYPES.map do |h|
            [h.titleize, h]
          end
        ),
        include_blank: true,
        label_class: 'required'
      ) %>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
<% end %>
