<div class="staff-members-index-filter">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Filter</div>
    </div>
    <div class="panel-body">
      <div>
        <%= bootstrap_form_for(
              filter,
              url: flagged_staff_members_path,
              html: { method: :get, class: 'form-inline' }
            ) do |form| %>
          <%= form.text_field(:name_text, label: 'Name', value: filter.name_text) %>
          <%= form.text_field(:email_text, label: 'Email', value: filter.email_text) %>
          <%= form.submit('Update') %>
        <% end %>
      </div>
    </div>
  </div>
  <div><span class="records-returned-count"><%= staff_members.count %></span> records returned</div>
</div>
