<%= bootstrap_form_for(staff_member, html: { class: 'staff-member-form' }) do |form| %>
  <%= form.select(:gender, options_for_select(StaffMember::GENDERS.map{ |role| [role.titleize, role] }, form.object.gender), include_blank: true, label_class: 'required') %>
  <%= form.text_field :first_name, class: 'required' %>
  <%= form.text_field :surname, class: 'required' %>
  <%= form.text_field :phone_number %>
  <%= form.text_field :national_insurance_number %>
  <%= form.text_field :email, class: 'required' %>
  <%= form.date_select :date_of_birth, start_year: Time.now.year, end_year: 1940, include_blank: true %>
  <%= form.fields_for(:address, (form.object.address || Address.new)) do |address_fields| %>
    <%= render partial: 'address_fields', locals: { form: address_fields } %>
  <% end %>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
