<div class="staff-members-index-filter">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Filter</div>
    </div>
    <div class="panel-body">
      <div>
        <%= bootstrap_form_for(
              'filter',
              url: staff_members_path,
              html: { method: :get, class: 'form-inline' }
            ) do |form| %>
          <%= form.select(
                :venue,
                options_for_select(
                  filter.accessible_venues.map do |venue|
                    [venue.name.titlecase, venue.id]
                  end,
                  filter.venue.try(:id)
                ),
                prompt: 'Any'
              ) %>
          <%= form.select(
                :staff_type,
                options_for_select(
                  filter.accessible_staff_types.map do |type|
                    [type.name.titlecase, type.id]
                  end,
                  filter.staff_type.try(:id)
                ),
                prompt: 'Any'
              ) %>
          <%= form.submit('Update') %>
        <% end %>
      </div>
    </div>
  </div>
  <div><span class="records-returned-count"><%= staff_members.count %></span> records returned</div>
</div>
