<div id="staff-member-edit-employment-details-page" data-staff-member-id="<%= staff_member.id %>">
  <h1>Edit Employment Details</h1>

  <%= bootstrap_form_for(
        staff_member,
        method: :post,
        url: update_employment_details_staff_member_path(staff_member),
        html: { class: 'employment-details-form' }
      ) do |form| %>

    <%= render partial: 'shared/staff_member_venue_control', locals: { form: form, user: current_user } %>

    <%= render(
          partial: 'shared/staff_member_staff_type_control',
          locals: {
            form: form,
            user: current_user
          }
        ) %>

    <div class="staff-member-starts-at-field">
      <%= form.date_select(
            :starts_at,
            start_year: Time.now.year + 2,
            end_year: Time.now.year - 2,
            include_blank: true,
            with_css_classes: true
          ) %>
    </div>
    <%= render partial: 'shared/pay_rate_control', locals: { form: form } %>
    <%= form.text_area :day_perference_note, label: 'Day Preference', help: form.object.day_perference_help_text %>
    <%= form.text_area :hours_preference_note, label: 'Hours Preference', help: form.object.hours_preference_help_text %>
    <%= form.text_field :national_insurance_number %>

    <%= render partial: 'shared/starter_employment_status_checkboxes', locals: { form: form } %>

    <%= form.submit %>
  <% end %>
</div>
