<main role="main" class="boss2-page-content <%= content_for(:main_class) %>">
  <div class="boss2-page-content__inner-container">
<div id="staff-member-edit-contact-details-page" data-staff-member-id="<%= staff_member.id %>">
  <h1>Edit Contact Details</h1>

  <%= bootstrap_form_for(
        staff_member,
        method: :post,
        url: update_contact_details_staff_member_path(staff_member),
        html: { class: 'contact-details-form' }
      ) do |form| %>
    <%= form.fields_for(:email_address, (form.object.email_address || EmailAddress.new)) do |email_address_fields| %>
      <%= render partial: 'shared/email_address_fields', locals: { form: email_address_fields, required: false } %>
    <% end %>

    <%= form.number_field :phone_number %>

    <%= form.fields_for(:address, (form.object.address || Address.new)) do |address_fields| %>
      <%= render partial: 'shared/address_fields', locals: { form: address_fields, required: false } %>
    <% end %>

    <%= form.submit %>
  <% end %>
</div>
</div>
</main>
