<main role="main" class="boss2-page-content <%= content_for(:main_class) %>">
  <div class="boss2-page-content__inner-container">
<div id="staff-member-edit-personal-details-page" data-staff-member-id="<%= staff_member.id %>">
  <h1>Edit Personal Details</h1>

  <%= bootstrap_form_for(
        staff_member,
        method: :post,
        url: update_personal_details_staff_member_path(staff_member),
        html: { class: 'personal-details-form' }
      ) do |form| %>
    <%= form.fields_for(:name, (form.object.name || Name.new)) do |name_fields| %>
      <%= render partial: 'shared/name_fields', locals: { form: name_fields } %>
    <% end %>
    <%= form.select(
          :gender,
          options_for_select(
            StaffMember::GENDERS.map{ |gender| [gender.titleize, gender] },
            form.object.gender.to_s
          ),
          include_blank: true,
          label_class: 'required'
        )
    %>
    <div class="staff-member-date-of-birth-field">
      <%= form.date_select(
            :date_of_birth,
            {
              start_year: Time.zone.now.year,
              end_year: 1940,
              include_blank: true,
              with_css_classes: true
            }
          ) %>
      </div>
    <%= form.submit %>
  <% end %>
</div>
</div>
</main>
