<h1>Flagged Staff Members</h1>

<%= render partial: 'flagged_staff_member_filter', locals: { filter: filter, staff_members: staff_members } %>

<% if staff_members.present? %>
  <ul class="no-bullet flagged-staff-member-list">
    <% staff_members.each do |staff_member| %>
      <li class="staff-member-listing" data-staff-member-id="<%= staff_member.id %>">
        <div class="panel panel-default">
          <div class="panel-body media-object">
            <div class="media-object-section">
              <img src="<%= staff_member.avatar.small.url %>" alt="Avatar">
            </div>
            <div class="media-object-section">
              <h4>
                <%= staff_member.full_name.titlecase %>
                <%= link_to('View', staff_member_path(staff_member), class: 'boss2-button boss2-button_type_small') %>
              </h4>
              <p>Email Address: <%= staff_member.email || 'Not supplied' %></p>
              <p>Staff Type: <%= staff_member.staff_type.name.titlecase %></p>
              <p>Disabled by: <%= staff_member.disabled_by_user.full_name.titlecase %> on <%= staff_member.disabled_at.to_s(:human_date) %></p>
              <p>Reason for disabling: <%= staff_member.disable_reason %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <ul>
  <%= render partial: 'shared/pagination_control', locals: { relation: staff_members } %>
<% end %>

