<h1>Staff Members</h1>

<%= link_to('Add Staff Member', new_staff_member_path, class: ['btn', 'btn-primary']) %>
<%= link_to(flagged_staff_members_path, class: 'btn btn-danger') do %>
  <span class="glyphicon glyphicon-warning-sign"></span> View Flagged Staff Members
<% end %>

<%= render partial: 'index_filter', locals: { filter: filter, staff_members: staff_members } %>

<% if staff_members.present? %>
  <table class="table" data-role="staff-members-index-table">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Type</th>
      <th>Venue</th>
    <tr>
    <% staff_members.each do |staff_member| %>
      <tr class="staff-members-index-listing" data-staff-member-id="<%= staff_member.id %>">
        <td data-role="name"><%= link_to(staff_member.full_name, staff_member_path(staff_member)) %></td>
        <td>
          <%= staff_member.current_state.titlecase %>
        </td>
        <td data-role="staff-type">
          <%= link_to(staff_member.staff_type.name.titlecase, staff_member_path(staff_member)) %>
        </td>
        <td data-role="venue"><%= link_to("#{staff_member.venue.try(:name) || 'N / A'}", staff_member_path(staff_member)) %></td>
      </tr>
    <% end %>
  </table>
  <%= render partial: 'shared/pagination_control', locals: { relation: staff_members } %>
<% end %>
