<div class="boss-page-main__dashboard">
  <div class="boss-page-main__inner">
    <!-- Page dashboard start -->
    <div class="boss-page-dashboard boss-page-dashboard_updated boss-page-dashboard_page_staff-members-index">
      <div class="boss-page-dashboard__group">
        <h1 class="boss-page-dashboard__title">
          <span class="boss-page-dashboard__title-text">Staff Members</span>
          <span class="boss-page-dashboard__title-info"><%= staff_members.count %></span>
        </h1>

        <div class="boss-page-dashboard__buttons-group">
          <%= link_to new_staff_member_path, class: 'boss-button boss-button_role_add boss-page-dashboard__button' do %>
            Add Staff Member
          <% end %>
        </div>
      </div>

      <%= react_component(
          'StaffMembersFilterForm',
          selected_name: filter.name_text || '',
          selected_email: filter.email_text || '',
          selected_status: filter.status,
          selected_venue: filter.venue,
          selected_staff_type: filter.staff_type,
          staff_members: staff_members,
          staff_type: filter.staff_type,
          staff_types: filter.accessible_staff_types,
          statuses: filter.select_statuses,
          filter_master_venue: filter.filter_master_venue,
          is_security_manager: true,
          venues: filter.accessible_venues
        )
      %>
    </div>
  </div>
  <!-- Page dashboard end -->
</div>

<div class="boss-page-main__content">
  <div class="boss-page-main__inner">
    <div class="boss-table boss-table_page_staff-members-index">
      <div class="boss-table__row">
        <div class="boss-table__cell boss-table__cell_role_header"></div>
        <div class="boss-table__cell boss-table__cell_role_header">Name</div>
        <div class="boss-table__cell boss-table__cell_role_header">Modified</div>
        <div class="boss-table__cell boss-table__cell_role_header">Status</div>
        <div class="boss-table__cell boss-table__cell_role_header">Type</div>
        <div class="boss-table__cell boss-table__cell_role_header">Master Venue</div>
        <div class="boss-table__cell boss-table__cell_role_header">Work Venues</div>
      </div>

      <% staff_members.each do |staff_member| %>
        <div class="boss-table__row test-staff-members-index-listing" data-staff-member-id="<%= staff_member.id %>">
          <div class="boss-table__cell">
            <div class="boss-table__image">
              <%= link_to staff_member_path(id: staff_member.id), class: 'boss-table__link' do %>
                <div class="boss-avatar boss-avatar_type_combined">
                  <%= image_tag(staff_member.avatar_url, class: 'boss-avatar__image') %>
                  <% if staff_member.marked_retake_avatar? %>
                    <div class="boss-avatar__overlay">
                        <p class="boss-avatar__overlay-text boss-avatar__overlay-text_role_retake">Please retake picture</p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="boss-table__cell">
            <div class="boss-table__info" data-role="name">
              <p class="boss-table__label">Name</p>
              <p class="boss-table__text">
                <%= link_to staff_member.name.full_name.titlecase, staff_member_path(id: staff_member.id), class: 'boss-table__link' %>
              </p>
            </div>
          </div>

          <div class="boss-table__cell">
            <div class="boss-table__info" data-role="modified">
              <p class="boss-table__label">Modified</p>
              <p class="boss-table__text">
                <%= staff_member.updated_at.to_s(:short) %>
              </p>
            </div>
          </div>

          <div class="boss-table__cell">
            <div class="boss-table__info">
              <p class="boss-table__label">Status</p>
              <p class="boss-table__text">
                <button class="boss-button boss-button_type_small boss-button_role_enabled">
                  <%= UIStaffMemberStatus.new(staff_member).to_s %>
                </button>
              </p>
            </div>
          </div>

          <div class="boss-table__cell">
            <div class="boss-table__info" data-role="staff-type">
              <p class="boss-table__label">Type</p>
              <p class="boss-table__text">
                <%= link_to staff_member.staff_type.name.titlecase, staff_member_path(id: staff_member.id), class: 'boss-table__link' %>
              </p>
            </div>
          </div>

          <div class="boss-table__cell">
            <div class="boss-table__info" data-role="master-venue">
              <p class="boss-table__label">Master Venue</p>
              <p class="boss-table__text">
                <% if staff_member.master_venue.present? %>
                  <%= link_to staff_member.master_venue.name.titlecase, staff_member_path(id: staff_member.id), class: 'boss-table__link' %>
                <% else %>
                  <%= link_to 'N / A', staff_member_path(id: staff_member.id), class: 'boss-table__link' %>
                <% end %>
              </p>
            </div>
          </div>

          <div class="boss-table__cell">
            <div class="boss-table__info" data-role="work-venues">
              <p class="boss-table__label">Work Venues</p>
              <p class="boss-table__text">
                <% if staff_member.work_venues.present? %>
                  <%= link_to(staff_member.work_venues.map(&:name).join(", "), staff_member_path(id: staff_member.id), class: 'boss-table__link') %>
                <% else %>
                  <%= link_to 'N / A', staff_member_path(id: staff_member.id), class: 'boss-table__link' %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= render partial: 'shared/pagination_control_v2', locals: { relation: staff_members } %>
  </div>
</div>
