<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="avatar-image avatar-image_medium" src="<%= staff_member.avatar.medium.url %>" />
    </a>
  </div>
  <div class="media-body">
    <h1 class="media-heading"><%= staff_member.full_name.titlecase %></h1>
  </div>
</div>

<dl>
  <dt>Staff Type:</dt><dd><%= staff_member.staff_type.name %></dd>
  <dt>Main Venue:</dt><dd><%= staff_member.master_venue.name %></dd>
  <% if staff_member.work_venues.count > 0 %>
    <dt>Extra Venues</dt><dd><%= staff_member.work_venues.map(&:name).to_sentence %></dd>
  <% else %>
    <dt>Extra Venues</dt><dd>None</dd>
  <% end %>
</dl>

<%= link_to('Return to index', staff_members_path) %>
