<div class="media">
  <div class="media-left">
    <div class="staff-member-page-staff-image">
      <img class="avatar-image avatar-image_medium" src="<%= staff_member.avatar.medium.url %>" />
      <%= link_to('Edit', edit_avatar_staff_member_path(staff_member), class: "btn btn-primary btn-xs") %>
    </div>
  </div>
  <div class="media-body">
    <h1 class="media-heading"><%= staff_member.full_name %></h1>
  </div>
</div

<div class="container-fluid">
  <ul class="nav nav-tabs staff-member-nav-tabs" role="tablist">
    <li role="presentation" class="<%= tab_class('employment-details', active_tab) %>">
      <a data-push-state-url="<%= staff_member_path(staff_member, tab: 'employment-details') %>" data-target="#employment-tab">
        Employment Details
      </a>
    </li>
    <li role="presentation" class="<%= tab_class('account-details', active_tab) %>">
      <a data-push-state-url="<%= staff_member_path(staff_member, tab: 'account-details') %>" data-target="#account-tab">Account Details</a>
    </li>
    <li role="presentation" class="<%= "active" if active_tab == 'personal-details' %>">
      <a data-push-state-url="<%= staff_member_path(staff_member, tab: 'personal-details') %>" data-target="#personal-tab">Personal Details</a>
    </li>
    <li role="presentation" class="<%= tab_class('contact-details', active_tab) %>">
      <a data-push-state-url="<%= staff_member_path(staff_member, tab: 'contact-details') %>" data-target="#contact-tab">Contact Details</a>
    </li>
    <li role="presentation" class="<%= tab_class('holidays', active_tab) %>">
      <a data-push-state-url="<%= staff_member_path(staff_member, tab: 'holidays') %>" data-target="#holidays-tab">Holidays</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane container-fluid <%= tab_class('employment-details', active_tab) %>" id="employment-tab">
      <dl>
        <dt class="show-page-detail-heading">Venue</dt>
        <dd class="show-page-detail" data-detail="venue">
          <% if staff_member.venue.present? %>
            <%= staff_member.venue.name %>
          <% else %>
            N / A
          <% end %>
        </dd>

        <dt class="show-page-detail-heading">Job Type</dt>
        <dd class="show-page-detail" data-detail="staff-type"><%= staff_member.staff_type.name.titlecase %></dd>

        <dt class="show-page-detail-heading">Start Date</dt>
        <dd class="show-page-detail" data-detail="start-date"><%= staff_member.starts_at.to_s(:human_date) %></dd>

        <dt class="show-page-detail-heading">Hour Perference</dt>
        <dd class="show-page-detail" data-detail="hour-preference"><%= staff_member.hours_preference_note.present? ? staff_member.hours_preference_note : 'Not specified' %></dd>

        <dt class="show-page-detail-heading">Day Perference</dt>
        <dd class="show-page-detail" data-detail="day-preference"><%= staff_member.day_perference_note.present? ? staff_member.day_perference_note : 'Not specified' %></dd>

        <dt class="show-page-detail-heading">National Insurance Number</dt>
        <dd class="show-page-detail" data-detail="national-insurance-number">
          <% if staff_member.national_insurance_number.present? %>
            <%= staff_member.national_insurance_number %>
          <% else %>
            <%= "Not Supplied" %>
          <% end %>
        </dd>

        <dt class="show-page-detail-heading">Starter employment status statements</dt>
        <% employment_status_statement = EmploymentStatusStatement.new(staff_member) %>
        <% if employment_status_statement.point_list.present? %>
          <dd class="show-page-detail" data-detail="employment-status-statements">
            <%= employment_status_statement.point_list.join(', ') %>
          </dd>
        <% else %>
          <dd class="show-page-detail" data-detail="employment-status-statements">_</dd>
        <% end %>

        <%= link_to(
              'Edit',
              edit_employment_details_staff_member_path(staff_member),
              class: ['btn', 'btn-primary', 'staff-member-edit-employment-details-button']
            ) %>
      </dl>
    </div>

    <div class="tab-pane container-fluid <%= tab_class('account-details', active_tab) %>" id="account-tab">
      <dt class="show-page-detail-heading">Created</dt>
      <dd class="show-page-detail" data-detail="created-at"><%= staff_member.created_at.to_date.to_s %></dd>

      <dt class="show-page-detail-heading">Status</dt>
      <dd class="show-page-detail" data-detail="status"><%= staff_member.enabled? ? 'Active' : 'Disabled' %></dd>

      <% if can? :manage, :admin %>
        <dt class="show-page-detail-heading">User</dt>
        <dd class="show-page-detail" data-detail="user">
          <% if staff_member.user.present? %>
            <%= link_to(
                  'View',
                  user_path(staff_member.user),
                  class: ['view-user-button', 'btn', 'btn-success']
                )
            %>
          <% else %>
            <span>No assocaited user</span>
          <% end %>
        </dd>
      <% end %>
    </div>

    <div class="tab-pane container-fluid <%= tab_class('personal-details', active_tab) %>" id="personal-tab">
      <dl>
        <dt class="show-page-detail-heading">Name</dt>
        <dd class="show-page-detail" data-detail="name"><%= staff_member.full_name %></dd>

        <dt class="show-page-detail-heading">Gender</dt>
        <dd class="show-page-detail" data-detail="gender"><%= staff_member.gender.titlecase %></dd>

        <dt class="show-page-detail-heading">Date of Birth</dt>
        <% if staff_member.date_of_birth.present? %>
          <dd class="show-page-detail" data-detail="date-of-birth"><%= staff_member.date_of_birth.to_date.to_s %></dd>
        <% else %>
          <dd class"show-page-detail" data-detail="date-of-birth">Not supplied</dd>
        <% end %>
        <%= link_to(
              'Edit',
              edit_personal_details_staff_member_path(staff_member),
              class: ['btn', 'btn-primary', 'staff-member-edit-personal-details-button']
            ) %>
      </div>

      <div class="tab-pane container-fluid <%= tab_class('contact-details', active_tab) %>" id="contact-tab">
        <dl>
          <dt class="show-page-detail-heading">Email Address</dt>
          <dd class="show-page-detail" data-detail="email"><%= staff_member.email || 'Not supplied' %></dd>

          <dt class="show-page-detail-heading">Phone number</dt>
          <dd class="show-page-detail" data-detail="phone-number"><%= staff_member.phone_number.present? ? staff_member.phone_number : 'Not supplied' %></dd>

          <dt class="show-page-detail-heading">Address</dt>
          <% if staff_member.address.present? %>
            <dd>
              <% if staff_member.address.address_1.present? %>
                <dd class="show-page-detail" data-detail="address-1"><%= staff_member.address.address_1 %></dd>
              <% end %>
              <% if staff_member.address.address_2.present? %>
                <dd class="show-page-detail" data-detail="address-2"><%= staff_member.address.address_2 %></dd>
              <% end %>
              <% if staff_member.address.address_3.present? %>
                <dd class="show-page-detail" data-detail="address-3"><%= staff_member.address.address_3 %></dd>
              <% end %>
              <% if staff_member.address.address_4.present? %>
                <dd class="show-page-detail" data-detail="address-4"><%= staff_member.address.address_4 %></dd>
              <% end %>
              <% if staff_member.address.region.present? %>
                <dd  class="show-page-detail" data-detail="region"><%= staff_member.address.region %></dd>
              <% end %>
              <% if staff_member.address.country.present? %>
                <dd  class="show-page-detail" data-detail="country"><%= staff_member.address.country %></dd>
              <% end %>
              <% if staff_member.address.postcode.present? %>
                <dd  class="show-page-detail" data-detail="postcode"><%= staff_member.address.postcode %></dd>
              <% end %>
            </dd>
          <% else %>
            <dd>Not Supplied</dd>
          <% end %>
        </dl>
      </div>
      <div class="tab-pane container-fluid <%= tab_class('holidays', active_tab) %>" id="holidays-tab">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>Add holiday</span>
          </div>
          <div class="panel-body">
            <%= bootstrap_form_for(holiday, url: create_holiday_staff_member_path(staff_member), html: { class: 'form-inline' }) do |form| %>
              <%= form.date_select(
                    :start_date,
                    {
                      start_year: Time.now.year,
                      end_year: 1940,
                      include_blank: true,
                      with_css_classes: true,
                      label_class: 'required'
                    }
                  ) %>
              <%= form.date_select(
                    :end_date,
                    {
                      start_year: Time.now.year,
                      end_year: 1940,
                      include_blank: true,
                      with_css_classes: true,
                      label_class: 'required'
                    }
                  ) %>
              <%= form.select(
                    :holiday_type,
                    options_for_select(
                      Holiday::HOLIDAY_TYPES.map do |h|
                        [h.titleize, h]
                      end
                    ),
                    include_blank: true,
                    label_class: 'required'
                  ) %>
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            <% end %>
          </div>
        </div>

        <h2>Holidays</h2>
        <% if staff_member.active_holidays.present? %>
          <%= render partial: 'holidays_table', locals: { holidays: staff_member.active_holidays } %>
        <% else %>
          <div>No holidays</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
