<div class="address-form">
  <%= form.text_field :address_1, class: 'required' %>
  <%= form.text_field :address_2, class: 'required' %>
  <%= form.text_field :address_3, class: 'required' %>
  <%= form.text_field :address_4, class: 'required' %>
  <%= form.text_field :postcode,  class: 'required' %>
  <%= form.text_field :country,   class: 'required' %>
  <%= form.text_field :region,    class: 'required' %>
</div>
