<% if form.object.avatar? %>
  <%= image_tag(form.object.avatar_url, class: "boss-avatar") %>
<% end %>
<div class="form-group <%= "has-error" if form.object.errors[:avatar].count > 0 %>">
  <%= form.hidden_field(:avatar_base64, id: 'staff_member_avatar_base64', value: form.object.avatar_base64) %>
  <%= form.label("Avatar", class: 'control-label required') %>
  <%= react_component("StaffMemberFormAvatarImage", dataUrlInputSelector:"#staff_member_avatar_base64", selectedImageSelector: ".avatar_preview") %>
  <% if form.object.errors[:avatar].count > 0 %>
    <span class="help-block"><%= form.object.errors[:avatar].to_sentence %></span>
  <% end %>
</div>
