<table
    class="tablesaw tablesaw-stack"
    data-tablesaw-mode="stack">
  <thead>
    <th>£5</th>
    <th>£10</th>
    <th>50p</th>
    <th>20p</th>
    <th>10p</th>
    <th>5p</th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr>
      <td><%= number_to_currency(change_order.five_pound_notes, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.one_pound_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.fifty_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.twenty_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.ten_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.five_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.total, unit: '£', precision: 2) %></td>
    </tr>
  </tbody>
</table>
