<%= bootstrap_form_for(
      change_order,
      url: url,
      method: 'put'
    )  do |form| %>
    <div class="row mb-base">
      <div class="small-12 medium-6 column">
        <%= form.number_field(:five_pound_notes, prepend: "£") %>
        <%= form.number_field(:one_pound_coins, prepend: "£") %>
        <%= form.number_field(:fifty_pence_coins, prepend: "£") %>
      </div>
      <div class="small-12 medium-6 column">
        <%= form.number_field(:twenty_pence_coins, prepend: "£") %>
        <%= form.number_field(:ten_pence_coins, prepend: "£") %>
        <%= form.number_field(:five_pence_coins, prepend: "£") %>
      </div>
    </div>
  <%= form.submit(action_text, class: 'boss2-button boss2-button_type_small boss2-button_role_edit') %>
<% end %>
