<table class="table">
  <thead>
    <th>Five Pound Notes</th>
    <th>One Pound Coins</th>
    <th>Fifty Pence Coins</th>
    <th>Twenty Pence Coins</th>
    <th>Ten Pence Coins</th>
    <th>Five Pence Coins</th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr>
      <td><%= number_to_currency(change_order.five_pound_notes, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.one_pound_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.fifty_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.twenty_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.ten_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.five_pence_coins, unit: '£', precision: 2) %></td>
      <td><%= number_to_currency(change_order.total, unit: '£', precision: 2) %></td>
    </tr>
  </tbody>
</table>
