<table class="table">
  <thead>
    <th>Five Pound Notes</th>
    <th>One Pound Coins</th>
    <th>Fifty Pence Coins</th>
    <th>Twenty Pence Coins</th>
    <th>Ten Pence Coins</th>
    <th>Five Pence Coins</th>
  </thead>
  <tbody>
    <td><%= change_order.five_pound_notes %></td>
    <td><%= change_order.one_pound_coins %></td>
    <td><%= change_order.fifty_pence_coins %></td>
    <td><%= change_order.twenty_pence_coins %></td>
    <td><%= change_order.ten_pence_coins %></td>
    <td><%= change_order.five_pence_coins %></td>
  </tbody>
</table>
