<% change_orders.each do |change_order| %>
  <div class="boss-page-main__list-item">
    <div class="boss-order-summary boss-order-summary_page_change-order-history">
      <div class="boss-order-summary__header boss-order-summary__header_layout_reverse">
        <h4 class="boss-order-summary__title">Status
          <span class="boss-button boss-button_type_small boss-order-summary__title-label boss-order-summary__title-label_role_value">
            <%= change_order.current_state.titlecase %>
          </span>
        </h4>

        <ul class="boss-order-summary__status boss-order-summary__status_adjust_row">
          <% if change_order.accepted? %>
            <li class="boss-order-summary__status-item boss-order-summary__status-item_role_accepted">
              <p class="boss-order-summary__meta">
                <span class="boss-order-summary__meta-label">Accepted at</span>
                <span class="boss-order-summary__meta-date"><%= change_order.accepted_at.to_s(:human) %></span>
                by
                <span class="boss-order-summary__meta-user"><%= change_order.accepted_user.full_name %></span>
              </p>
            </li>
          <% end %>

          <% if change_order.done? %>
            <li class="boss-order-summary__status-item boss-order-summary__status-item_role_done">
              <p class="boss-order-summary__meta">
                <span class="boss-order-summary__meta-label">Marked Done at</span>
                <span class="boss-order-summary__meta-date"><%= change_order.done_at.to_s(:human) %></span>
                by
                <span class="boss-order-summary__meta-user"><%= change_order.done_user.full_name %></span>
              </p>
            </li>
          <% end %>
        </ul>
      </div>

      <%= render partial: 'shared/change_order_block_table', locals: { change_order: change_order } %>
    </div>
  </div>
<% end %>
