<p><%= venue.name %> <%= week.start_date.to_s(:human_date) %> - <%= week.end_date.to_s(:human_date) %></p>

<%= bootstrap_form_for('finance_reports_index', url: filter_form_path, html: { method: :get }) do |form| %>
  <div class="form-inline">
    <%= form.select(
          :venue_id,
          options_for_select(
            accessible_venues.map do |venue|
              [venue.name, venue.id]
            end,
            venue.id
          ),
          {
            include_blank: false
          },
          {
            name: 'venue_id'
          }) %>
    <%= form.text_field(
          :start_date,
          label: 'Week',
          value: week.start_date && UIRotaDate.format(week.start_date),
          class: 'static-week-picker',
          name: 'week_start'
        ) %>
    <%= form.submit('Update') %>
  </div>
<% end %>

<% reports_by_staff_type.each do |staff_type, reports| %>
  <div>
    <h3><div class="boss-badge" style="font-size: 1.3em; background-color: #<%= staff_type.ui_color %>"><%= staff_type.name %></div></h3>

    <% if display_totals %>
      <p class="h4">
        <strong>
          Total: <%= number_to_currency(reports.sum(&:total_cents) / 100.0, unit: '£') %>
        </strong>
      </p>
    <% end %>

    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th></th>
          <% week.each do |date| %>
           <th><%= date %></th>
          <% end %>
          <th></th>
          <th></th>
          <% if display_totals %>
            <th></th>
            <th></th>
          <% end %>
          <th></th>
          <% if display_manager_actions %>
            <th></th>
          <% end %>
        </tr>
        <tr>
          <th class="text-center">Name</th>
          <% week.each_with_day do |date, day| %>
           <th class="text-center"><%= day.to_s.titlecase %></th>
          <% end %>
          <th class="text-center">Total Hours</th>
          <th class="text-center">Owed Hours</th>
          <% if display_totals %>
            <th class="text-center">Pay Rate</th>
            <th class="text-center">Total</th>
          <% end %>
          <th class="text-center">Paid Holiday (Days)</th>
          <% if display_manager_actions %>
            <th class="text-center">Status</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% sorted_reports = reports.sort do |a, b|
             a_names = a.staff_member_name.split(' ')
             b_names = b.staff_member_name.split(' ')
             a_sort_string = a_names.last + ' ' + a_names.first(a_names.length - 1).join(' ')
             b_sort_string = b_names.last + ' ' + b_names.first(b_names.length - 1).join(' ')
             a_sort_string <=> b_sort_string
           end %>
        <% sorted_reports.each do |report| %>
          <tr>
            <td>
              <strong><%= link_to(report.staff_member_name.titlecase, staff_member_path(report.staff_member)) %></strong>
            </td>
            <% week.each_with_day do |date, day| %>
              <td>
                <%= link_to(staff_member_hours_overview_path(
                      staff_member_id: report.staff_member.id,
                      id: UIRotaDate.format(date)
                    )) do %>
                  <%= number_with_precision(
                        report.public_send("#{day}_hours_count".to_sym),
                        precision: 2,
                        strip_insignificant_zeros: true
                      ) %>
                <% end %>
              </td>
            <% end %>
            <td>
              <%= number_with_precision(
                    report.total_hours_count,
                    precision: 2,
                    strip_insignificant_zeros: true
                  ) %>
            </td>
            <td>
              <% owed_hours_count = number_with_precision(
                   report.owed_hours_count,
                   precision: 2,
                   strip_insignificant_zeros: true
                 ) %>
              <%= link_to(owed_hours_count, staff_member_path(report.staff_member, tab: 'owed-hours')) %>
            </td>
            <% if display_totals %>
              <td>
                <%= report.pay_rate_description %>
              </td>
              <td>
                <strong>
                  <%= number_to_currency(report.total_cents / 100.0, unit: '£') %>
                </strong>
              </td>
            <% end %>
            <td>
              <%= link_to(report.holiday_days_count, staff_member_path(report.staff_member, tab: 'holidays')) %>
            </td>
            <% if display_manager_actions %>
              <td>
                <%= report.status.titlecase %>
                <% if report.can_complete? %>
                  <%= link_to('Mark Completed' , finance_reports_path(staff_member_id: report.staff_member.id, week_start: UIRotaDate.format(report.week.start_date)), class: 'btn btn-success', method: :post) %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
