<p><%= venue.name %> <%= week.start_date.to_s(:human_date) %> - <%= week.end_date.to_s(:human_date) %></p>

<%= bootstrap_form_for('finance_reports_index', url: filter_form_path, html: { method: :get }) do |form| %>
  <div class="mb-base">

    <div class="mb-md">
      <%= form.text_field(
          :start_date,
          label: 'Week',
          value: week.start_date && UIRotaDate.format(week.start_date),
          class: 'static-week-picker',
          name: 'week_start'
      ) %>
    </div>
    <%= form.submit('Update', class: 'boss2-button') %>
  </div>

  <div class="row align-middle mb-md">
    <label class="shrink column">Pay Rate Filter</label>
  </div>

  <div class="row">
    <% if filter_type == FinanceReportPageFilter::FILTER_BY_SALARY_ONLY %>
      <div class="shrink column">
        <p>Displaying Salary Only</p>
      </div>
      <div class="shrink column">
        <%= link_to(
              "Show All",
              pay_rate_filter_path_helper.call(
                  venue_id: venue.id,
                  week_start:  week.start_date && UIRotaDate.format(week.start_date),
                 filter_type: FinanceReportPageFilter::SHOW_ALL_FILTER_TYPE,
              ),
              class: 'boss2-button'
            ) %>
      </div>
    <% else %>
      <div class="shrink column">
        <p>Displaying All Pay Rates</p>
      </div>
      <div class="shrink column">
        <%= link_to(
              "Show Weekly Only",
              pay_rate_filter_path_helper.call(
                venue_id: venue.id,
                week_start:  week.start_date && UIRotaDate.format(week.start_date),
                filter_type: FinanceReportPageFilter::FILTER_BY_SALARY_ONLY,
              ),
              class: 'boss2-button'
            ) %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="shrink column">
      <%= link_to(
            pay_rate_filter_path_helper.call(
              venue_id: venue.id,
              week_start:  week.start_date && UIRotaDate.format(week.start_date),
              filter_type: params[:filter_type],
              format: :pdf
            ),
            class: 'boss2-button boss2-button_role_download'
          ) do %>
            Download PDF
      <% end %>
    </div>
  </div>
<% end %>

<% finance_reports_table.staff_types.each do |staff_type| %>
  <% reports = finance_reports_table.reports(staff_type) %>
  <div class="boss2-table-container">
    <h3 class="boss2-page-content_adjust_h3"><div class="boss-badge" style="font-size: 1.3em; background-color: #<%= staff_type.ui_color %>"><%= staff_type.name %></div></h3>

    <% if display_totals %>
      <p class="h4">
        <strong>
          Total: <%= number_to_currency(finance_reports_table.total(staff_type), unit: '£') %>
        </strong>
      </p>
    <% end %>

    <table class="text-center mb-lg">
      <thead>
        <tr>
          <th></th>
          <% if display_pay_rate_type %>
            <th></th>
          <% end %>
          <% week.each do |date| %>
           <th><%= date %></th>
          <% end %>
          <th></th>
          <th></th>
          <% if display_totals %>
            <th></th>
            <th></th>
          <% end %>
          <th></th>
        </tr>
        <tr>
          <th class="text-center">Name</th>
          <% if display_pay_rate_type %>
            <th>Pay&nbsp;Type</th>
          <% end %>
          <% week.each_with_day do |date, day| %>
           <th class="text-center"><%= day.to_s.titlecase %></th>
          <% end %>
          <th class="text-center">Total Hours</th>
          <th class="text-center">Owed Hours</th>
          <th class="text-center">Accessories</th>
          <% if display_totals %>
            <th class="text-center">Pay Rate</th>
            <th class="text-center">Total</th>
          <% end %>
          <th class="text-center">Paid Holiday (Days)</th>
        </tr>
      </thead>
      <tbody>
        <% reports.each do |report| %>
          <tr>
            <td>
              <strong><%= link_to(report.staff_member_name.titlecase, staff_member_path(report.staff_member)) %></strong>
            </td>
            <% if display_pay_rate_type %>
              <td><%= report.staff_member.pay_rate.type_description %></td>
            <% end %>
            <% week.each_with_day do |date, day| %>
              <td>
                <% hour_value = report.public_send("#{day}_hours_count".to_sym) %>
                <% if hour_value > 0 %>
                  <%= link_to(staff_member_hours_overview_path(
                        staff_member_id: report.staff_member.id,
                        id: UIRotaDate.format(date)
                      )) do %>
                    <%= number_with_precision(
                          hour_value,
                          precision: 2,
                          strip_insignificant_zeros: true
                        ) %>
                  <% end %>
                <% else %>
                  <span>-</span>
                <% end %>
              </td>
            <% end %>
            <td>
              <%= number_with_precision(
                    report.total_hours_count,
                    precision: 2,
                    strip_insignificant_zeros: true
                  ) %>
            </td>
            <td>
              <% owed_hours_count = number_with_precision(
                   report.owed_hours_count,
                   precision: 2,
                   strip_insignificant_zeros: true
                 ) %>
              <%= link_to_if(
                    report.owed_hours_count > 0,
                    owed_hours_count,
                    staff_member_path(report.staff_member, tab: 'owed-hours')
                  ) %>
            </td>
            <td>
              <%= colorized_amount(report.accessories_cents) { |amount, color| link_to_unless(
                    amount == 0,
                    number_to_currency(amount / 100.0, unit: '£'),
                    accessories_staff_member_path(report.staff_member),
                    style: "color: #{color}"
                  ) } %>
            </td>
            <% if display_totals %>
              <td>
                <%= report.pay_rate_description %>
              </td>
              <td>
                <strong>
                  <%= number_to_currency(report.total_cents / 100.0, unit: '£') %>
                </strong>
              </td>
            <% end %>
            <td>
              <%= link_to_if(
                    report.holiday_days_count > 0,
                    report.holiday_days_count,
                    staff_member_path(report.staff_member, tab: 'holidays')
                  ) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% all_reports = finance_reports_table.staff_types.map{|st|finance_reports_table.reports(st)}.flatten %>
