<table
  class="tablesaw tablesaw-stack"
  data-tablesaw-mode="stack"
>
  <thead>
    <tr>
      <th>Type</th>
      <th>Dates</th>
      <th>Note</th>
      <th>Created By</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% holidays.order(start_date: :desc).each do |holiday| %>
      <tr>
        <td><%= holiday.holiday_type.titleize %></td>
        <td><%= holiday.start_date %> - <%= holiday.end_date %></td>
        <td><%= holiday.note %></td>
        <td>
          <p>
            <% if can?(:manage, holiday.creator) %>
              <%= link_to(holiday.creator.full_name.titlecase, user_path(holiday.creator)) %>
            <% else %>
              <%= holiday.creator.full_name.titlecase %>
            <% end %>
            <br />
            <%= holiday.created_at %>
          </p>
        </td>
        <td>
          <div class="row">
            <div class="shrink column npr">
              <% if holiday.editable? && can?(:edit, holiday) %>
                  <%= link_to(edit_holiday_path(holiday), class: 'button small mb-sm') do %>
                      <i class="fa fa-pencil mr-sm"></i>Edit
                  <% end %>
            <% end %>
            </div>
            <div class="shrink column">
              <% if holiday.editable? && can?(:destroy, holiday) %>
                  <%= link_to(
                          staff_member_holiday_path(
                              staff_member_id: staff_member.id,
                              id: holiday.id
                          ),
                          method: :delete,
                          class: 'button small alert'
                      ) do %>
                      <i class="fa fa-remove mr-sm"></i>Delete
                  <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
