<%= bootstrap_form_for(pay_rate, url: path, html: { class: 'pay-rate-form' }) do |form| %>
  <div class="form-group">
    <label>Type</label>
    <p class="form-control-static"><%= pay_rate_type.titlecase %></p>
  </div>
  <%= form.text_field(:name) %>

  <%= form.select(
        :calculation_type,
        options_for_select(
          PayRate::CALCULATION_TYPE.map do |calculation_type|
            [PayRate.calculation_type_display_name(calculation_type), calculation_type]
          end,
          form.object.calculation_type
        ),
        {}
      ) %>

  <%= form.text_field(
        :rate,
        prepend: '£',
        value: form.object.rate_in_pounds,
        help: "#{ form.object.errors[:cents].to_sentence }",
        wrapper_class: "#{ 'has-error' if form.object.errors[:cents].present? }"
      ) %>

  <%= form.submit %>
<% end %>
