<%= form.fields_for(:staff_member_venue, (form.object.staff_member_venue || form.object.build_staff_member_venue)) do |venue_fields| %>
  <%= venue_fields.select(
        :venue_id,
        options_for_select(
          Venue.all.map { |venue| [venue.name.titlecase, venue.id] },
          venue_fields.object.try(:venue_id)
        ),
        include_blank: true
      ) %>
<% end %>
<div class="staff-member-starts-at-field">
  <%= form.date_select(
        :starts_at,
        start_year: Time.now.year + 2,
        end_year: Time.now.year - 2,
        include_blank: true,
        with_css_classes: true
      ) %>
</div>


<% if form.object.avatar? %>
  <%= image_tag(form.object.avatar_url, class: "avatar_preview", height: 120, width: 120) %>
<% end %>
<%= form.label("Avatar") %>
<%= form.hidden_field(:avatar_base64, id: 'staff_member_avatar_base64', value: form.object.avatar_base64) %>
<%= react_component("StaffMemberFormAvatarImage", dataUrlInputSelector:"#staff_member_avatar_base64", selectedImageSelector: ".avatar_preview") %>

<%= form.select(:gender, options_for_select(StaffMember::GENDERS.map{ |role| [role.titleize, role] }, form.object.gender), include_blank: true, label_class: 'required') %>
<% if edit_name %>
  <%= form.fields_for(:name, (form.object.name || Name.new)) do |name_fields| %>
    <%= render partial: 'shared/name_fields', locals: { form: name_fields } %>
  <% end %>
<% end %>

<% if edit_email %>
  <%= form.fields_for(:email_address, (form.object.email_address || EmailAddress.new)) do |email_address_fields| %>
    <%= render partial: 'shared/email_address_fields', locals: { form: email_address_fields, required: false } %>
  <% end %>
<% end %>
<%= form.select(
      :staff_type,
      options_for_select(
        StaffType.all.map{ |type| [type.name.titleize, type.id] },
        form.object.staff_type.try(:id)
      ),
      include_blank: true,
      label_class: 'required',
      html: {
        name: :staff_type_id
      }
    )
%>
<%= form.number_field :pin_code %>
<%= form.number_field :phone_number %>
<%= form.text_field :national_insurance_number %>
<div class="staff-member-date-of-birth-field">
  <%= form.date_select(
        :date_of_birth,
        start_year: Time.now.year,
        end_year: 1940,
        include_blank: true,
        with_css_classes: true
      ) %>
</div>
<%= form.fields_for(:address, (form.object.address || Address.new)) do |address_fields| %>
  <%= render partial: 'shared/address_fields', locals: { form: address_fields, required: false } %>
<% end %>
<%= form.text_area :day_perference_note, label: 'Day Preference', help: form.object.day_perference_help_text %>
<%= form.text_area :hours_preference_note, label: 'Hours Preference', help: form.object.hours_preference_help_text %>
<%= render partial: 'shared/pay_rate_control', locals: { form: form } %>

<%= render partial: 'shared/starter_employment_status_checkboxes', locals: { form: form} %>
