<h2> Owed Hours</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <span>Add Hours</span>
  </div>
  <div class="panel-body">
    <%= render partial: 'shared/add_owed_hour_form', locals: { owed_hour: owed_hour, staff_member: staff_member } %>
  </div>
</div>

<% owed_hours = OwedHour.enabled.where(staff_member: staff_member).all %>
<% if owed_hours.present? %>
  <% owed_hours_by_week = owed_hours.group_by { |owed_hour| RotaWeek.new(owed_hour.week_start_date)  }.sort_by { |week, hours| week } %>
  <% owed_hours_by_week.each do |week, hours| %>
    <p><strong>Mon <%= week.start_date %> - Sun <%= week.end_date %></strong></p>
    <p>Total: <%= hours.inject(0) { |sum, hours| sum + hours.minutes } %> minutes </p>
    <table class="table">
      <thead>
        <tr>
          <th>Duration (Minutes)</th>
          <th>Created By</th>
          <th>Note</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% hours.each do |owed_hour| %>
          <tr>
            <td><%= owed_hour.minutes %></td>
            <td><%= owed_hour.creator.full_name %> on <%= owed_hour.created_at.to_s(:human_date) %></td>
            <td><p><%= owed_hour.note %></p></td>
            <td>
              <% if owed_hour.editable? %>
              <%= link_to('Edit', edit_owed_hour_path(owed_hour), class: 'btn btn-success') %>
                <%= link_to(
                      staff_member_owed_hour_path(
                        staff_member_id: staff_member.id,
                        id: owed_hour.id
                      ),
                      method: :delete,
                      class: 'btn btn-danger'
                    ) do %>
                  Delete <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <table>
  <% end %>
<% else %>
  <div>No Owed Hours</div>
<% end %>
