<div id="<%= section_id %>">
  <div>
    <span class="h3">Staff Members Wrongly on <%= payrate_name %> Payrate</span>
    <%= link_to('back to top', '#') %>
  </div>

  <div>Total: <%= total %></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Venue</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <% staff_members.find_each do |staff_member| %>
        <tr>
          <td><%= link_to(staff_member.full_name.titlecase, staff_member_path(staff_member)) %></td>
          <td><%= staff_member.master_venue.name.titlecase %></td>
          <td><%= staff_member.age %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
