<h1>Staff Vetting</h1>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <%= link_to(staff_members_without_email_staff_vetting_index_path, class: "list-group-item") do %>
        Staff without Email Address
        <span class="badge"><%= staff_without_email.count %></span>
      <% end %>
      <%= link_to(staff_members_without_ni_number_staff_vetting_index_path, class: "list-group-item") do %>
        Staff without NI Number
        <span class="badge"><%= staff_without_ni_number.count %></span>
      <% end %>
      <%= link_to(staff_members_without_address_staff_vetting_index_path, class: "list-group-item") do %>
        Staff without Address
        <span class="badge"><%= staff_without_address.count %></span>
      <% end %>
      <a href="#staff-members-without-photo" class="list-group-item">
        Staff without Photo
        <span class="badge"><%= staff_without_photo.count %></span>
      </a>
    </div>
  </div>
</div>

<% if staff_without_photo.count > 0 %>
  <div id="staff-members-without-photo">
    <h2>Staff without Photo</h2>
    <%= render partial: 'staff_member_list', locals: { staff_members: staff_without_photo, link_tab: 'employment-details' } %>
  </div>
<% end %>
