<h1>Edit <%= venue.name.titlecase %></h1>

<%= bootstrap_form_for(venue, html: { class: 'venue-form' }) do |form| %>
  <%= form.text_field(:name) %>

  <%= form.number_field(
        :till_float_cents,
        prepend: '£',
        value: Float(form.object.till_float_pound_value).to_int_if_whole,
        label: 'Till Float',
        step: 0.01
      ) %>

  <%= form.number_field(
        :safe_float_cents,
        prepend: '£',
        value: Float(form.object.safe_float_pound_value).to_int_if_whole,
        label: 'Safe Float',
        step: 0.01
      ) %>

  <%= form.select(
        :fruit_order_fields,
        options_for_select(
          FruitOrder::FIELDS.map do |field|
            [field.to_s.humanize, field]
          end,
          form.object.fruit_order_fields
        ),
        {
          include_blank: true,
        },
        class: 'chosen-select',
        multiple: true
      ) %>

  <%= form.number_field(
    :latitude,
    value: Float(form.object.latitude || 0),
    label: 'Latitude',
    step: 0.0000001
  ) %>

  <%= form.number_field(
    :longitude,
    value: Float(form.object.longitude || 0),
    label: 'Longitude',
    step: 0.0000001
  ) %>

  <%= form.number_field(
        :change_order_site_id,
        label: 'Change Order Site ID'
      ) %>

  <%= form.number_field(
        :overheads_threshold_percentage,
        prepend: '%',
        value: form.object.overheads_threshold_percentage,
        label: 'Overheads Rota Forecast Threshold Percentage',
        step: 0.1,
      ) %>

  <%= form.number_field(
        :staff_threshold_percentage,
        prepend: '%',
        value: form.object.staff_threshold_percentage,
        label: 'Staff Rota Forecast Threshold Percentage',
        step: 0.1,
      ) %>

  <%= form.number_field(
        :pr_threshold_percentage,
        prepend: '%',
        value: form.object.pr_threshold_percentage,
        label: 'PR Rota Forecast Threshold Percentage',
        step: 0.1,
      ) %>

  <%= form.number_field(
        :kitchen_threshold_percentage,
        prepend: '%',
        value: form.object.kitchen_threshold_percentage,
        label: 'Kitchen Rota Forecast Threshold Percentage',
        step: 0.1,
      ) %>

  <%= form.number_field(
        :security_threshold_percentage,
        prepend: '%',
        value: form.object.security_threshold_percentage,
        label: 'Security Rota Forecast Threshold Percentage',
        step: 0.1,
      ) %>

  <%= form.submit('Update') %>
<% end %>
