<h1>Venues</h1>

<%= link_to('Add Venue', new_venue_path, class: ['btn', 'btn-primary']) %>

<% if venues.present? %>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Staff</th>
      <th></th>
    <tr/>
    <% venues.each do |venue| %>
      <tr class="venues-index-listing" data-venue-id="<%= venue.id %>">
        <td data-role="name"><%= venue.name %></td>
        <td data-role="staff-count">
          <%= link_to(venue.staff_members.count, staff_members_path(filter: { venue: venue.id })) %>
        </td>
        <td>
          <%= link_to('Edit', edit_venue_path(venue), class: 'btn btn-success') %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= render partial: 'shared/pagination_control', locals: { relation: venues } %>
<% end %>
