<h1>Venues</h1>

<div class="panel panel-default">
  <div class="panel-heading">Add Venue</div>
  <div class="panel-body">
    <%= bootstrap_form_for(form_venue, html: { class: ['venue-form', 'form-inline'] }) do |form| %>
      <%= form.text_field :name %>
      <button type="submit" class="btn btn-default">Add</button>
    <% end %>
  </div>
</div>

<% if venues.present? %>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Staff</th>
    <tr/>
    <% venues.each do |venue| %>
      <tr class="venues-index-listing" data-venue-id="<%= venue.id %>">
        <td data-role="name"><%= venue.name %></td>
        <td data-role="staff-count">
          <%= link_to(venue.staff_members.count, staff_members_path(filter: { venue: venue.id })) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
