<h1>Venues</h1>

<%= link_to('Add Venue', new_venue_path, class: ['boss-button boss-button_role_add']) %>

<% if venues.present? %>
  <table class="boss-table-scroll" style="text-align: center;">
    <thead>
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Available Staff</th>
        <th style="text-align: center;">Fixed Staff</th>
        <th style="text-align: center;">Safe Float</th>
        <th style="text-align: center;">Till Float</th>
        <th style="text-align: center;">Fruit Order Fields</th>
        <th style="text-align: center;"></th>
      <tr/>
    </thead>
    <% venues.each do |venue| %>
      <tr class="venues-index-listing" data-venue-id="<%= venue.id %>">
        <td data-role="name"><%= venue.name %></td>

        <td data-role="staff-count">
          <%= link_to(StaffMember.for_venue(venue).enabled.count, staff_members_path(staff_member_index_filter: { venue: venue.id })) %>
        </td>
        <td>
          <%= venue.master_staff_members.enabled.count %>
        </td>

        <td>
          <%= number_to_currency(
                venue.safe_float_pound_value,
                unit: '£',
                precision: 2
              ) %>
        </td>

        <td>
          <%= number_to_currency(
                venue.till_float_pound_value,
                unit: '£',
                precision: 2
              ) %>
        </td>

        <td><%= venue.fruit_order_fields.map(&:to_s).map(&:humanize).to_sentence %></td>
        <td><%= link_to('Edit', edit_venue_path(venue), class: 'boss-button boss-button_type_small') %></td>
      </tr>
    <% end %>
  </table>
  <%= render partial: 'shared/pagination_control', locals: { relation: venues } %>
<% end %>
