<h1>Add Venue</h1>

<%= form_for(venue, html: { class: 'venue-form' }) do |form| %>
  <%= form.text_field :name %>

  <%= form.number_field(
        :till_float_cents,
        prepend: '£',
        value: Float(form.object.till_float_pound_value).to_int_if_whole,
        label: 'Till Float',
        step: 0.01
      ) %>

  <%= form.number_field(
        :safe_float_cents,
        prepend: '£',
        value: Float(form.object.safe_float_pound_value).to_int_if_whole,
        label: 'Safe Float',
        step: 0.01
      ) %>

  <% reminder_users = User.enabled.with_all_venue_access %>
  <% managers = UsersManagingVenueQuery.new(venue: venue).all %>
  <% if managers.present? %>
    <% reminder_users = reminder_users.where('users.id NOT IN (?)', managers.pluck(:id)) %>
  <% end %>
  <%= form.select(
      :reminder_user_ids,
      options_for_select(
        reminder_users.map do |user|
          [user.full_name, user.id]
        end,
        form.object.reminder_users.pluck(:id)
      ),
      {
        label: 'Reminder email recipients',
        help: 'Users specified here here will receive reminder emails as well as managers set to manage the venue who receive reminders by default.',
        include_blank: true
      },
      class: 'chosen-select',
      multiple: true
    ) %>

  <%= form.select(
        :fruit_order_fields,
        options_for_select(
          FruitOrder::FIELDS.map do |field|
            [field.to_s.humanize, field]
          end,
          form.object.fruit_order_fields
        ),
        {
          include_blank: true
        },
        class: 'chosen-select',
        multiple: true
      ) %>

  <button type="submit" class="btn btn-default">Create</button>
<% end %>
