<div>
  <div class="pull-right">
    <%= link_to('Back to current orders', change_order_reports_path, class: 'btn btn-success') %>
  </div>

  <h1>Change Order History</h1>

  <% if change_orders.to_a.count > 0 %>
    <ul class="list-unstyled">
      <% change_orders.each do |change_order| %>
        <li>
          Venue: <%= change_order.venue.name %>
        </li>
        <li>
          Marked Done at <%= change_order.done_at.to_s(:human) %> by <%= change_order.done_user.full_name %>
        </li>
        <li>
          <%= render partial: 'shared/change_order_table', locals: { change_order: change_order } %>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'shared/pagination_control', locals: { relation: change_orders } %>
  <% else %>
    <p>No previously accepted change orders exist</p>
  <% end %>
</div>
