<h1>Change Order Report</h1>

<% if venues_without_pending_change_order.count > 0 %>
  <p>
    <b>Venues without current change order submissions:</b> <%= venues_without_pending_change_order.map(&:name).to_sentence %>
  </p>
<% end %>

<h2>Pending Orders</h2>
<% if pending_change_orders.count > 0 %>
  <%= render partial: 'shared/change_orders_table', locals: {
        change_orders: pending_change_orders,
        action_partial: 'shared/pending_change_order_actions'
      } %>
<% else %>
  <p>No pending change orders</p>
<% end %>

<% if accepted_change_orders.count > 0 %>
  <div class="mb-mn">
    <h2>Accepted Orders</h2>

    <%= render partial: 'shared/change_orders_table', locals: {
          change_orders: accepted_change_orders,
          action_partial: 'shared/accepted_change_order_actions'
        } %>

    <%= bootstrap_form_for(
          '',
          url: complete_change_order_reports_path(
            change_order_ids: accepted_change_orders.map(&:id)
          ),
          html: { method: :put }
        ) do |form|
    %>
      <%= form.button('Complete Orders', class: 'boss3-button') %>
    <% end %>
  </div>
<% end %>

<%= link_to('View Completed Orders', history_change_order_reports_path) %>
