<div>
  <h1>Change Order Report</h1>
  <div class="pull-right">
    <%= link_to(
          'Back to Overview',
          change_order_reports_path,
          class: 'boss-button'
        ) %>
  </div>
</div>

<% if submission_deadline.past? %>

  <p>Submitted at: <%= submission_deadline.to_s(:human_with_day) %></p>
<% else %>
  <p>Submission Deadline: <%= submission_deadline.to_s(:human_with_day) %></p>
<% end %>

<% if venues_without_change_orders.count > 0 %>
  <h3>Venues without submissions</h3>
  <p>
    <%= venues_without_change_orders.map(&:name).to_sentence %>
  </p>
<% end %>

<% if change_orders.count > 0 %>
  <h3>Change orders</h3>

  <table class="boss-table-scroll">
    <thead>
      <tr>
        <th>Venue</th>
        <th>Five Pound Notes</th>
        <th>One Pound Coins</th>
        <th>Fifty Pence Coins</th>
        <th>Twenty Pence Coins</th>
        <th>Ten Pence Coins</th>
        <th>Five Pence Coins</th>
        <th>Total</th>
      <tr>
    </thead>
    <tbody>
      <% change_orders.each do |change_order| %>
        <tr>
          <td><%= number_to_currency(change_order.five_pound_notes, unit: '£', precision: 2) %></td>
          <td><%= number_to_currency(change_order.one_pound_coins, unit: '£', precision: 2) %></td>
          <td><%= number_to_currency(change_order.fifty_pence_coins, unit: '£', precision: 2) %></td>
          <td><%= number_to_currency(change_order.twenty_pence_coins, unit: '£', precision: 2) %></td>
          <td><%= number_to_currency(change_order.ten_pence_coins, unit: '£', precision: 2) %></td>
          <td><%= number_to_currency(change_order.five_pence_coins, unit: '£', precision: 2) %></td>
          <td><%= number_to_currency(change_order.total, unit: '£', precision: 2) %></td>
            </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
