<h1>Notes for Safe Check</h1>
<h2><%= safe_check.venue.name.titlecase %> safe check at <%= safe_check.created_at.to_s(:human) %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <span>Add Note</span>
  </div>
  <div class="panel-body">
    <%= form_for(safe_check_note, url: safe_check_notes_path(safe_check_id: safe_check.id)) do |form| %>
      <%= form.text_area :note_text, hide_label: true %>
      <%= form.text_field :note_left_by_note, label: 'Created By' %>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    <% end %>
  </div>
</div>

<h2>Notes</h2>

<% if safe_check_notes.count > 0 %>
  <%= render partial: 'shared/safe_check_notes_list', locals: { safe_check_notes: safe_check_notes } %>
<% else %>
  <p>None found</p>
<% end %>
