<h1>Daily Reports</h1>

<p><%= venue.name.titlecase %> <%= date.to_s(:human_date) %></p>

<%= bootstrap_form_for('', url: daily_reports_path, html: { method: :get, class: 'form-inline' }) do |form| %>
    <%= form.select(
          :venue_id,
          options_for_select(
            accessible_venues.map do |venue|
              [venue.name, venue.id]
            end,
            venue.id
          ),
          {
            include_blank: false
          }) %>

  <%= form.text_field(
        :date,
        value: UIRotaDate.format(date),
        class: 'date-picker'
      ) %>

  <%= form.submit('Update') %>
<% end %>

<div>
  <h2>Overview</h2>
  <dl>
    <dt>Overheads:</dt>
    <dd>
      <%= number_to_currency(total_overheads_cents / 100.0, unit: '£') %>
    </dd>
    <dt>Rotaed Cost - Overheads:</dt>
    <dd>
      <%= number_to_currency(total_rotaed_cost_cents / 100.0, unit: '£') %>
    </dd>
    <dt>Actual Cost - Overheads:</dt>
    <dd>
      <%= number_to_currency(total_actual_cost_cents / 100.0, unit: '£') %>
    </dd>
    <dt>Variance:</dt>
    <dd>
      <%= number_to_currency((total_rotaed_cost_cents - total_actual_cost_cents) / 100.0, unit: '£') %>
    </dd>
  </dl>
</div>

<% grouped_staff_members = staff_members.group_by(&:staff_type) %>
<% grouped_staff_members.each do |staff_type, staff_members| %>
  <% total_actual_cost_cents = staff_members.sum(&:actual_cost_cents) %>
  <% total_rotaed_cost_cents = staff_members.sum(&:rotaed_cost_cents) %>
  <div>
    <div class="row">
      <h3 style="display: inline-block">
        <div class="boss-badge" style="font-size: 1.1em; background-color: #<%= staff_type.ui_color %>"><%= staff_type.name %></div>
      </h3>
      <div class="h4">
        Rotaed Cost: <%= number_to_currency(total_rotaed_cost_cents / 100.0, unit: '£') %></span>, <span class="h4">Actual Cost: <%= number_to_currency(total_actual_cost_cents / 100.0, unit: '£') %>
      </div>
    </div>
    <table class="table table-striped" style="text-align: center;">
      <thead>
        <tr>
          <th style="text-align: center;">Name</th>
          <th style="text-align: center;">Pay rate</th>
          <th style="text-align: center;">Hours Rotaed</th>
          <th style="text-align: center;">Rotaed Cost</th>
          <th style="text-align: center;">Hours Worked</th>
          <th style="text-align: center;">Break Time (Hours)</th>
          <th style="text-align: center;">Actual Cost</th>
        </tr>
      </thead>
      <tbody>
        <% staff_members.each do |staff_member| %>
          <tr>
            <td><%= staff_member.full_name.titlecase %></td>
            <td>
              <% if staff_member.pay_rate.admin? %>
                <%= staff_member.pay_rate.name.titlecase %>
              <% else %>
                <%= staff_member.pay_rate.text_description_short %>
              <% end %>
            </td>
            <td><%= number_with_precision(
                      staff_member.hours_rotaed,
                      precision: 2,
                      strip_insignificant_zeros: true
                    ) %>
            </td>
            <td>
              <% if staff_member.pay_rate.hourly? %>
                <%= number_to_currency(staff_member.rotaed_cost_cents / 100.0, unit: '£') %>
              <% else %>
                <span>-</span>
              <% end %>
            </td>
            <td><%= number_with_precision(
                      staff_member.hours_worked,
                      precision: 2,
                      strip_insignificant_zeros: true
                    ) %></td>
            <td><%= number_with_precision(
                      staff_member.break_hours,
                      precision: 2,
                      strip_insignificant_zeros: true
                    ) %></td>
            <td>
              <% if staff_member.pay_rate.hourly? %>
                <%= number_to_currency(staff_member.actual_cost_cents / 100, unit: '£') %>
              <% else %>
                <span>-</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div>
<% end %>
