<h1>Daily Reports</h1>

<div class="row align-middle mb-md">
  <div class="shrink column"><%= venue.name.titlecase %> <%= date.to_s(:human_date) %></div>
  <div class="shrink column"><%= link_to('View weekly report', weekly_reports_path(venue_id: venue.id, week_start: UIRotaDate.format(week.start_date)), class: 'button') %></div>
</div>

<%= bootstrap_form_for('', url: daily_reports_path, html: { method: :get, class: 'form-inline' }) do |form| %>
    <%= form.select(
          :venue_id,
          options_for_select(
            accessible_venues.map do |venue|
              [venue.name, venue.id]
            end,
            venue.id
          ),
          {
            include_blank: false
          }) %>

  <%= form.text_field(
        :date,
        value: UIRotaDate.format(date),
        class: 'date-picker'
      ) %>

  <%= form.submit('Update', class: 'button mb-md') %>
<% end %>

<div>
  <% if !daily_report.present? || daily_report.pending_first_calculation? %>
    <p>No daily report currently exists for this day.</p>
    <% if daily_report.present? && daily_report.update_required? %>
      <p>
        A report is scheduled to be calculated for this date.<br/>
        The updated data should be online within the hour.
      </p>
    <% end %>
  <% else %>
    <div class="mb-lg">
      <h2>Overview</h2>
      <dl>
        <dt>Overheads:</dt>
        <dd>
          <%= number_to_currency(daily_report.overheads_cents / 100.0, unit: '£') %>
        </dd>
        <dt>Rotaed Cost - Overheads:</dt>
        <dd>
          <%= number_to_currency(daily_report.rotaed_cost_cents / 100.0, unit: '£') %>
        </dd>
        <dt>Actual Cost - Overheads:</dt>
        <dd>
          <%= number_to_currency(daily_report.actual_cost_cents / 100.0, unit: '£') %>
        </dd>
        <dt>Variance:</dt>
        <dd>
          <%= number_to_currency(daily_report.variance_cents / 100.0, unit: '£') %>
        </dd>

        <dt>Last Updated</dt>
        <dd><%= daily_report.last_calculated_at.to_s(:human) %></dd>
        <% if daily_report.update_required? %>
          <p>
            A report is scheduled to be calculated for this date.<br/>
            The updated data should be online within the hour.
          </p>
        <% end %>
      </dl>
    </div>

    <% daily_report.staff_member_sections.each do |section| %>
      <div>
        <div class="row align-middle">
          <div class="shrink column">
            <h3>
              <div class="boss-badge" style="font-size: 1.1em; background-color: #<%= section.staff_type.ui_color %>"><%= section.staff_type.name %></div>
            </h3>
          </div>
          <div class="column h4">
            Rotaed Cost: <%= number_to_currency(section.rotaed_cost_cents / 100.0, unit: '£') %></span>, <span class="h4">Actual Cost: <%= number_to_currency(section.actual_cost_cents / 100.0, unit: '£') %>
          </div>
        </div>
        <table class="scroll mb-lg" style="text-align: center;">
          <thead>
            <tr>
              <th style="text-align: center;">Name</th>
              <th style="text-align: center;">Pay rate</th>
              <th style="text-align: center;">Hours Rotaed</th>
              <th style="text-align: center;">Rotaed Cost</th>
              <th style="text-align: center;">Hours Worked</th>
              <th style="text-align: center;">Break Time (Hours)</th>
              <th style="text-align: center;">Actual Cost</th>
            </tr>
          </thead>
          <tbody>
            <% section.staff_member_listings.each do |listing| %>
              <tr>
                <td><%= listing.staff_member.full_name.titlecase %></td>
                <td>
                  <% if listing.pay_rate_admin? %>
                    <%= listing.pay_rate_name.titlecase %>
                  <% else %>
                    <%= listing.pay_rate_text_description_short %>
                  <% end %>
                </td>
                <td><%= number_with_precision(
                          listing.rotaed_hours,
                          precision: 2,
                          strip_insignificant_zeros: true
                        ) %>
                </td>
                <td>
                  <% if listing.pay_rate_hourly? %>
                    <%= number_to_currency(listing.rotaed_cost_cents / 100.0, unit: '£') %>
                  <% else %>
                    <span>-</span>
                  <% end %>
                </td>
                <td><%= number_with_precision(
                          listing.worked_hours,
                          precision: 2,
                          strip_insignificant_zeros: true
                        ) %></td>
                <td><%= number_with_precision(
                          listing.break_hours,
                          precision: 2,
                          strip_insignificant_zeros: true
                        ) %></td>
                <td>
                  <% if listing.pay_rate_hourly? %>
                    <%= number_to_currency(listing.actual_cost_cents / 100, unit: '£') %>
                  <% else %>
                    <span>-</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
