<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header nav-brand-section">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Boss', root_path, class: 'navbar-brand' %>
    </div>

    <% if current_user.present? %>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if can?(:manage, :staff_members) %>
            <li class="nav-staff-members-section">
              <%= link_to('Staff Members', staff_members_path, class: "nav-section-header-link") %>
            </li>
          <% end %>

          <% if can?(:manage, :rotas) %>
            <% if Venue.count > 0 && !(current_user.manager? && current_user.venues.count == 0) %>
              <li class="nav-rota-section">
                <%= link_to('Rota', rotas_path, class: "nav-section-header-link") %>
              </li>
            <% end %>
          <% end %>

          <% if can?(:view, :holidays) %>
            <li class="nav-holiday-reports-section">
              <%= link_to('Holidays', holidays_path(date: UIRotaDate.format(Time.now.to_date.monday))) %>
            </li>
          <% end %>

          <% if can?(:manage, :security_rota) %>
            <li class="nav-security-rota-section">
              <%= link_to(security_rotas_path, class: "nav-section-header-link") do %>
                Security Rota
              <% end %>
            </li>
          <% end %>

          <% if can?(:manage, :change_orders) %>
            <li class="nav-change-orders-section">
              <%= link_to('Change Orders', change_orders_path, class: 'nav-section-header-link') %>
            </li>
          <% end %>

          <% if can?(:manage, :fruit_orders) %>
            <li class="nav-fruit-orders-section">
              <%= link_to('Fruit Orders', fruit_orders_path, class: 'nav-section-header-link') %>
            </li>
          <% end %>

          <% if can?(:manage, :clock_in_clock_out) %>
            <li class="nav-clock-in-clock-out-section">
              <%= link_to('Clock In/Out Demo', clock_in_clock_out_index_path, class: "nav-section-header-link") %>
            </li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if can?(:manage, :admin) %>
            <li class="dropdown nav-admin-section">
              <a href="#" class="nav-section-header-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Admin <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li class="nav-invites-section">
                  <%= link_to('Invites', invites_path) %>
                </li>

                <li class="nav-users-section">
                  <%= link_to('Users', users_path) %>
                </li>

                <li class="nav-venues-section">
                  <%= link_to('Venues', venues_path) %>
                </li>

                <% if can?(:manage, :admin) %>
                  <li class="nav-staff-types-section">
                    <%= link_to('Staff Types', staff_types_path) %>
                  </li>
                <% end %>

                <li class="nav-pay-rates-section">
                  <%= link_to('Pay rates', pay_rates_path) %>
                </li>

                <li class="nav-admin-change-orders-section">
                  <%= link_to('Change Order Reports', change_order_reports_path) %>
                </li>
              </ul>
            </li>
          <% end %>

          <li class="dropdown nav-user-section">
            <a href="#" class="nav-section-header-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= current_user.email %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
