<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Boss" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Boss" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'rollbar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bundles/frontend_bundle', 'data-turbolinks-track' => true %>
    <%= render 'layouts/favicon' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="boss2-body">
    <header>
      <% if render_navigation? %>
        <%= render 'layouts/header_with_navigation' %>
      <% else %>
        <%= render 'layouts/header_without_navigation' %>
      <% end %>
    </header>
    <main role="main" class="boss2-page-content <%= content_for(:main_class) %>">
      <div class="boss2-page-content__inner-container">
          <%= render 'layouts/messages' %>
          <%= yield %>
          <%= insert_paloma_hook %>
      </div>
    </main>
  </body>
</html>
