<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Boss" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Boss" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'rollbar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bundles/frontend_bundle', 'data-turbolinks-track' => true %>
    <%= render 'layouts/favicon' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="main row column <%= content_for(:main_class) %>">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <%= insert_paloma_hook %>
    </main>
  </body>
</html>
