<!DOCTYPE html>
<html>
  <head>
    <% if render_v2_layout? %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% end %>
    <title><%= content_for?(:title) ? yield(:title) : "Boss" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Boss" %>">

    <% if !render_v2_layout? %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>
    <%= javascript_include_tag 'rollbar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script>
      window.boss = window.boss || {};
      window.boss.store = window.boss.store || {};
      window.boss.rollbarData = window.boss.rollbarData || {};

      window.boss.currentLayout = "<%= @current_layout %>"
      window.boss.currentVersion = "<%= application_version %>";
      <% if logged_in_user_info_json.present? %>
        window.boss.headerData = JSON.parse('<%= raw header_data.to_json %>');
        window.boss.rollbarData.currentUser = {
          id: "<%= logged_in_user_info_json[:id] %>",
          name: "<%= logged_in_user_info_json[:name] %>",
          rollbar_guid: "<%= logged_in_user_info_json[:rollbar_guid] %>"
        };
      <% end %>
    </script>

    <script src="<%= @bundle_script %>" data-turbolinks-track="true"></script>

    <%= render 'layouts/favicon' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= render_v2_layout? ? 'boss-body' : 'boss2-body' %>">
    <header class="boss-page-header">
      <% if render_navigation? %>
        <%= render 'layouts/header_with_navigation' unless render_v2_layout? %>
        <%= render 'layouts/new_header_with_navigation' if render_v2_layout? %>
      <% else %>
        <%= render 'layouts/header_without_navigation' %>
      <% end %>
    </header>

    <% if render_v2_layout? %>
      <%= render partial: 'layouts/v2_layout' %>
    <% else %>
      <main role="main" class="boss2-page-content <%= content_for(:main_class) %>">
        <div class="boss2-page-content__inner-container">
          <%= render 'layouts/messages' %>
          <%= yield %>
          <%= insert_paloma_hook %>
        </div>
      </main>
    <% end %>

    <% if render_v2_layout? %>
      <script>
        window.onload = function() {
          initMobileMenu();
        };
      </script>
    <% end %>
  </body>
</html>
